workflows/01-recherche-offres.json
{
  "id": "wf01rechercheoff",
  "name": "01 - Recherche d'offres (multi-profils)",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "cronExpression", "expression": "0 8 * * *" } ] } },
      "id": "a1000000-0000-4000-8000-000000000001",
      "name": "Tous les jours 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-400, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, keywords, location_insee, radius_km, contract_types, seniority, must_have, exclusions, score_threshold FROM search_profiles WHERE active = true ORDER BY id;",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000002",
      "name": "Profils actifs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-200, 400],
      "credentials": { "postgres": { "id": "REMPLACER", "name": "Postgres job-hunter" } }
    },
    {
      "parameters": { "options": {} },
      "id": "a1000000-0000-4000-8000-000000000003",
      "name": "Boucle profils",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [0, 400]
    },

    {
      "parameters": {
        "url": "=https://api.adzuna.com/v1/api/jobs/fr/search/1",
        "sendQuery": true,
        "queryParameters": { "parameters": [
          { "name": "app_id", "value": "={{ $env.ADZUNA_APP_ID }}" },
          { "name": "app_key", "value": "={{ $env.ADZUNA_APP_KEY }}" },
          { "name": "what", "value": "={{ $('Boucle profils').item.json.keywords }}" },
          { "name": "where", "value": "France" },
          { "name": "results_per_page", "value": "50" }
        ] },
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000010",
      "name": "Adzuna - search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 80]
    },
    {
      "parameters": { "jsCode": "const s=(v)=>String(v??'').trim();\nconst results=$input.first().json.results||[];\nreturn results.map((r)=>({json:{source:'adzuna',source_id:s(r.id),title:s(r.title),company:s(r.company?.display_name),location:s(r.location?.display_name),contract_type:s(r.contract_time||r.contract_type),salary:r.salary_min?s(r.salary_min):'',description:s(r.description),url:s(r.redirect_url)}}));" },
      "id": "a1000000-0000-4000-8000-000000000011",
      "name": "norm Adzuna",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 80]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://entreprise.francetravail.fr/connexion/oauth2/access_token?realm=/partenaire",
        "sendBody": true, "contentType": "form-urlencoded",
        "bodyParameters": { "parameters": [
          { "name": "grant_type", "value": "client_credentials" },
          { "name": "client_id", "value": "={{ $env.FRANCE_TRAVAIL_CLIENT_ID }}" },
          { "name": "client_secret", "value": "={{ $env.FRANCE_TRAVAIL_CLIENT_SECRET }}" },
          { "name": "scope", "value": "api_offresdemploiv2 o2dsoffre" }
        ] },
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000020",
      "name": "FT - token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 240]
    },
    {
      "parameters": {
        "url": "https://api.francetravail.io/partenaire/offresdemploi/v2/offres/search",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Authorization", "value": "=Bearer {{ $json.access_token }}" } ] },
        "sendQuery": true,
        "queryParameters": { "parameters": [
          { "name": "motsCles", "value": "={{ $('Boucle profils').item.json.keywords }}" },
          { "name": "commune", "value": "={{ $('Boucle profils').item.json.location_insee }}" },
          { "name": "distance", "value": "={{ $('Boucle profils').item.json.radius_km }}" },
          { "name": "range", "value": "0-149" }
        ] },
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000021",
      "name": "FT - search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 240]
    },
    {
      "parameters": { "jsCode": "const s=(v)=>String(v??'').trim();\nconst results=$input.first().json.resultats||[];\nreturn results.map((r)=>({json:{source:'france_travail',source_id:s(r.id),title:s(r.intitule),company:s(r.entreprise?.nom),location:s(r.lieuTravail?.libelle),contract_type:s(r.typeContrat||r.typeContratLibelle),salary:s(r.salaire?.libelle),description:s(r.description),url:s(r.origineOffre?.urlOrigine)}}));" },
      "id": "a1000000-0000-4000-8000-000000000022",
      "name": "norm FT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 240]
    },

    {
      "parameters": {
        "url": "={{ $env.JOBSPY_API_URL }}/search",
        "sendQuery": true,
        "queryParameters": { "parameters": [
          { "name": "term", "value": "={{ $('Boucle profils').item.json.keywords }}" },
          { "name": "location", "value": "France" },
          { "name": "results", "value": "50" }
        ] },
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000030",
      "name": "JobSpy - search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 400]
    },
    {
      "parameters": { "jsCode": "const s=(v)=>String(v??'').trim();\nconst offers=$input.first().json.offers||[];\nreturn offers.map((o)=>({json:{source:s(o.source)||'jobspy',source_id:s(o.source_id||o.url),title:s(o.title),company:s(o.company),location:s(o.location),contract_type:s(o.contract_type),salary:s(o.salary),description:s(o.description),url:s(o.url)}}));" },
      "id": "a1000000-0000-4000-8000-000000000031",
      "name": "norm JobSpy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },

    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": { "parameters": [
          { "name": "engine", "value": "google_jobs" },
          { "name": "q", "value": "={{ $('Boucle profils').item.json.keywords }}" },
          { "name": "location", "value": "France" },
          { "name": "gl", "value": "fr" },
          { "name": "hl", "value": "fr" },
          { "name": "api_key", "value": "={{ $env.SERPAPI_KEY }}" }
        ] },
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000035",
      "name": "Google Jobs - SerpApi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 560]
    },
    {
      "parameters": { "jsCode": "const s=(v)=>String(v??'').trim();\nconst results=$input.first().json.jobs_results||[];\nreturn results.map((r)=>{const ext=r.detected_extensions||{};const url=r.share_link||(r.apply_options&&r.apply_options[0]&&r.apply_options[0].link)||'';return{json:{source:'google_jobs',source_id:s(r.job_id),title:s(r.title),company:s(r.company_name),location:s(r.location),contract_type:s(ext.schedule_type),salary:s(ext.salary),description:s(r.description),url:s(url)}};});" },
      "id": "a1000000-0000-4000-8000-000000000036",
      "name": "norm Google Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 560]
    },

    {
      "parameters": { "url": "={{ $env.WTTJ_RSS_URL }}", "options": {} },
      "id": "a1000000-0000-4000-8000-000000000040",
      "name": "WTTJ - RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [240, 720]
    },
    {
      "parameters": { "jsCode": "const s=(v)=>String(v??'').trim();\nreturn $input.all().map(({json:it})=>{const rt=s(it.title);let title=rt,company='';const d=rt.split(/\\s[-–|]\\s/);if(d.length>=2){title=s(d[0]);company=s(d[d.length-1]);}return{json:{source:'wttj',source_id:s(it.guid||it.id||it.link),title,company,location:s(it.location),contract_type:'',salary:'',description:s(it.contentSnippet||it.content||it.description),url:s(it.link)}};});" },
      "id": "a1000000-0000-4000-8000-000000000041",
      "name": "norm WTTJ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 720]
    },

    {
      "parameters": {
        "url": "https://jsearch.p.rapidapi.com/search",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "X-RapidAPI-Key", "value": "={{ $env.RAPIDAPI_KEY }}" },
          { "name": "X-RapidAPI-Host", "value": "jsearch.p.rapidapi.com" }
        ] },
        "sendQuery": true,
        "queryParameters": { "parameters": [
          { "name": "query", "value": "={{ $('Boucle profils').item.json.keywords }}" },
          { "name": "page", "value": "1" },
          { "name": "num_pages", "value": "1" },
          { "name": "country", "value": "fr" }
        ] },
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000045",
      "name": "JSearch - search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 880]
    },
    {
      "parameters": { "jsCode": "const s=(v)=>String(v??'').trim();\nconst results=$input.first().json.data||[];\nreturn results.map((r)=>{const pub=s(r.job_publisher).toLowerCase().replace(/\\s+/g,'-');return{json:{source:pub?('jsearch:'+pub):'jsearch',source_id:s(r.job_id),title:s(r.job_title),company:s(r.employer_name),location:s(r.job_city||r.job_location),contract_type:s(r.job_employment_type),salary:s(r.job_salary_string),description:s(r.job_description),url:s(r.job_apply_link||r.job_google_link)}};});" },
      "id": "a1000000-0000-4000-8000-000000000046",
      "name": "norm JSearch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 880]
    },
    {
      "parameters": { "numberInputs": 6 },
      "id": "a1000000-0000-4000-8000-000000000050",
      "name": "Fusionner sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [900, 360]
    },
    {
      "parameters": { "jsCode": "// Score piloté par le PROFIL + exclusions (filtre dur) + hashSource canonicalisé.\n// Parité avec workflows/lib/offer-utils.mjs.\nconst prof=$('Boucle profils').item.json;\nconst norm=(s)=>String(s??'').toLowerCase().normalize('NFKD').replace(/\\s+/g,' ').trim();\nconst cT=(t)=>norm(t).replace(/\\(.*?\\)/g,' ').replace(/\\b[hf]\\s*\\/\\s*[hfx]\\b/g,' ').replace(/\\bf\\s*\\/\\s*h\\b/g,' ').replace(/[^a-z0-9àâäéèêëîïôöùûüç ]/g,' ').replace(/\\s+/g,' ').trim();\nconst cC=(c)=>norm(c).replace(/\\b(sas|sasu|sarl|sa|eurl|inc|ltd|llc|gmbh|group|groupe)\\b/g,' ').replace(/[^a-z0-9àâäéèêëîïôöùûüç ]/g,' ').replace(/\\s+/g,' ').trim();\nconst cL=(l)=>norm(l).replace(/\\bfrance\\b/g,' ').replace(/[^a-zàâäéèêëîïôöùûüç ]/g,' ').replace(/\\s+/g,' ').trim();\nconst DEF={keywords:['ia','intelligence artificielle','ml','machine learning','data','llm','python','développeur','developpeur','backend','api'],juniorTerms:['junior','débutant','debutant','alternance','apprenti','stage','stagiaire','entry level'],seniorTerms:['senior','confirmé','confirme','lead','principal','5 ans','expérimenté','experimente','10 ans'],remoteTerms:['télétravail','teletravail','remote','hybride','distanciel'],goodContracts:['cdi','alternance','cdd','apprentissage','freelance']};\nconst sw=(s)=>norm(s).split(/[,;\\n\\s]+/).filter(Boolean);\nconst sp=(s)=>String(s??'').split(/[,;\\n]+/).map(norm).filter(Boolean);\nconst kw=[...sw(prof.keywords),...sp(prof.must_have)];\nconst ct=sp(prof.contract_types);\nconst P={keywords:kw.length?kw:DEF.keywords,exclusions:sp(prof.exclusions),contractTypes:ct.length?ct:DEF.goodContracts,seniority:norm(prof.seniority)};\nfunction sen(hay){const j=DEF.juniorTerms.some(t=>hay.includes(norm(t)));const se=DEF.seniorTerms.some(t=>hay.includes(norm(t)));const w=P.seniority;if(/junior|alternance|débutant|debutant|apprenti|stage/.test(w)){if(j&&!se)return 20;return se?0:10;}if(/senior|confirm|lead|expérim|experim/.test(w)){if(se&&!j)return 20;return j?5:10;}return se&&!j?5:12;}\nfunction score(o){const hay=norm(`${o.title} ${o.description} ${o.contract_type}`);const loc=norm(o.location);let s=0;s+=Math.min(40,P.keywords.filter(k=>hay.includes(norm(k))).length*10);s+=sen(hay);if(DEF.remoteTerms.some(t=>hay.includes(norm(t))||loc.includes(norm(t))))s+=15;if(P.contractTypes.some(c=>hay.includes(norm(c))||norm(o.contract_type).includes(norm(c))))s+=15;if(norm(o.salary))s+=10;return Math.max(0,Math.min(100,Math.round(s)));}\nfunction exc(o){if(!P.exclusions.length)return false;const hay=norm(`${o.title} ${o.description} ${o.contract_type} ${o.location}`);return P.exclusions.some(x=>x&&hay.includes(norm(x)));}\nreturn $input.all().map(({json:o})=>o).filter(o=>!exc(o)).map((o)=>({json:{...o,score:score(o),profile_id:prof.id,hashSource:[cT(o.title),cC(o.company),cL(o.location)].join('|')}}));" },
      "id": "a1000000-0000-4000-8000-000000000051",
      "name": "Scorer + hashSource",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 360]
    },
    {
      "parameters": { "action": "hash", "type": "SHA256", "value": "={{ $json.hashSource }}", "dataPropertyName": "hash", "options": {} },
      "id": "a1000000-0000-4000-8000-000000000052",
      "name": "Hash dédup",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [1340, 360]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "mode": "list", "value": "public" },
        "table": { "__rl": true, "mode": "list", "value": "offers" },
        "columns": { "mappingMode": "defineBelow", "value": {
          "source": "={{ $json.source }}", "source_id": "={{ $json.source_id }}",
          "hash": "={{ $json.hash }}", "title": "={{ $json.title }}",
          "company": "={{ $json.company }}", "location": "={{ $json.location }}",
          "contract_type": "={{ $json.contract_type }}", "salary": "={{ $json.salary }}",
          "description": "={{ $json.description }}", "url": "={{ $json.url }}",
          "score": "={{ $json.score }}", "profile_id": "={{ $json.profile_id }}"
        } },
        "options": { "skipOnConflict": true }
      },
      "id": "a1000000-0000-4000-8000-000000000053",
      "name": "Insert offers (dédup)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 360],
      "credentials": { "postgres": { "id": "REMPLACER", "name": "Postgres job-hunter" } }
    },
    {
      "parameters": { "jsCode": "// Affinage LLM du top-N avec must_have/exclusions DU PROFIL (cf. llm-scoring.mjs).\nconst prof=$('Boucle profils').item.json;\nconst all=$input.all().map(i=>i.json);\nconst offers=[...all].sort((a,b)=>(b.score??0)-(a.score??0)).slice(0,20);\nconst system=\"Tu es un expert en recrutement. Barème: 90-100 = correspond très bien aux critères indispensables et aucune exclusion; 50-89 = partiel; <50 = hors sujet ou exclusion. Réponds UNIQUEMENT en JSON {\\\"scores\\\":[{\\\"i\\\":<index>,\\\"score\\\":<0-100>,\\\"reason\\\":\\\"<une phrase>\\\"}]}.\";\nconst list=offers.map((o,i)=>`#${i} — ${o.title||'?'} @ ${o.company||'?'} (${o.location||'?'})\\n${String(o.description||'').slice(0,600)}`).join('\\n\\n');\nconst user=`Critères indispensables : ${prof.must_have||'(non précisés)'}\\nCritères d'exclusion : ${prof.exclusions||'(aucun)'}\\n\\nOFFRES:\\n${list}`;\nreturn [{json:{messages:[{role:'system',content:system},{role:'user',content:user}],offers,threshold:prof.score_threshold||60}}];" },
      "id": "a1000000-0000-4000-8000-000000000056",
      "name": "Préparer scoring LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DEEPSEEK_BASE_URL }}/chat/completions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "=Bearer {{ $env.DEEPSEEK_API_KEY }}" },
          { "name": "Content-Type", "value": "application/json" }
        ] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.DEEPSEEK_MODEL }}\",\n  \"messages\": {{ JSON.stringify($json.messages) }},\n  \"response_format\": { \"type\": \"json_object\" },\n  \"temperature\": 0.2\n}",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000057",
      "name": "DeepSeek scoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 360]
    },
    {
      "parameters": { "jsCode": "const clamp=(n)=>Math.max(0,Math.min(100,Math.round(Number(n)||0)));\nconst raw=$input.first().json.choices?.[0]?.message?.content??'';\nconst offers=$('Préparer scoring LLM').first().json.offers||[];\nlet data;try{data=JSON.parse(raw);}catch{data=null;}\nconst byI=new Map();for(const s of (data?.scores??[]))if(Number.isInteger(s.i))byI.set(s.i,s);\nreturn offers.map((o,i)=>{const s=byI.get(i);return{json:(!s||s.score==null)?o:{...o,score:clamp(s.score),score_reason:String(s.reason??'')}};});" },
      "id": "a1000000-0000-4000-8000-000000000058",
      "name": "Fusion scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 360]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE offers SET score = $1, score_reason = $2 WHERE hash = $3;",
        "options": { "queryReplacement": "={{ [$json.score, $json.score_reason || '', $json.hash] }}" }
      },
      "id": "a1000000-0000-4000-8000-000000000059",
      "name": "MAJ score (LLM)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2440, 360],
      "credentials": { "postgres": { "id": "REMPLACER", "name": "Postgres job-hunter" } }
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "version": 2 }, "combinator": "and",
          "conditions": [ { "leftValue": "={{ $json.score }}", "rightValue": "={{ $('Boucle profils').item.json.score_threshold }}", "operator": { "type": "number", "operation": "gte" } } ] },
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000054",
      "name": "Score suffisant ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2660, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_ALERTS }}",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ { \"content\": `🆕 **${$json.title}** — ${$json.company || 'Entreprise inconnue'}\\n[${$('Boucle profils').item.json.name}] Score ${$json.score} · ${$json.location} · ${$json.source}${$json.score_reason ? '\\n💡 ' + $json.score_reason : ''}\\n${$json.url}\\n✅ Générer: ${$env.WEBHOOK_URL}webhook/offer-status?hash=${$json.hash}&action=selected\\n🚫 Ignorer: ${$env.WEBHOOK_URL}webhook/offer-status?hash=${$json.hash}&action=ignored` } }}",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000055",
      "name": "Discord jobs-alerts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 260]
    }
  ],
  "connections": {
    "Tous les jours 8h": { "main": [[{ "node": "Profils actifs", "type": "main", "index": 0 }]] },
    "Profils actifs": { "main": [[{ "node": "Boucle profils", "type": "main", "index": 0 }]] },
    "Boucle profils": { "main": [
      [],
      [
        { "node": "Adzuna - search", "type": "main", "index": 0 },
        { "node": "FT - token", "type": "main", "index": 0 },
        { "node": "JobSpy - search", "type": "main", "index": 0 },
        { "node": "Google Jobs - SerpApi", "type": "main", "index": 0 },
        { "node": "WTTJ - RSS", "type": "main", "index": 0 },
      { "node": "JSearch - search", "type": "main", "index": 0 }
      ]
    ] },
    "Adzuna - search": { "main": [[{ "node": "norm Adzuna", "type": "main", "index": 0 }]] },
    "norm Adzuna": { "main": [[{ "node": "Fusionner sources", "type": "main", "index": 0 }]] },
    "FT - token": { "main": [[{ "node": "FT - search", "type": "main", "index": 0 }]] },
    "FT - search": { "main": [[{ "node": "norm FT", "type": "main", "index": 0 }]] },
    "norm FT": { "main": [[{ "node": "Fusionner sources", "type": "main", "index": 1 }]] },
    "JobSpy - search": { "main": [[{ "node": "norm JobSpy", "type": "main", "index": 0 }]] },
    "norm JobSpy": { "main": [[{ "node": "Fusionner sources", "type": "main", "index": 2 }]] },
    "Google Jobs - SerpApi": { "main": [[{ "node": "norm Google Jobs", "type": "main", "index": 0 }]] },
    "norm Google Jobs": { "main": [[{ "node": "Fusionner sources", "type": "main", "index": 3 }]] },
    "WTTJ - RSS": { "main": [[{ "node": "norm WTTJ", "type": "main", "index": 0 }]] },
    "norm WTTJ": { "main": [[{ "node": "Fusionner sources", "type": "main", "index": 4 }]] },
    "JSearch - search": { "main": [[{ "node": "norm JSearch", "type": "main", "index": 0 }]] },
    "norm JSearch": { "main": [[{ "node": "Fusionner sources", "type": "main", "index": 5 }]] },
    "Fusionner sources": { "main": [[{ "node": "Scorer + hashSource", "type": "main", "index": 0 }]] },
    "Scorer + hashSource": { "main": [[{ "node": "Hash dédup", "type": "main", "index": 0 }]] },
    "Hash dédup": { "main": [[{ "node": "Insert offers (dédup)", "type": "main", "index": 0 }]] },
    "Insert offers (dédup)": { "main": [[{ "node": "Préparer scoring LLM", "type": "main", "index": 0 }]] },
    "Préparer scoring LLM": { "main": [[{ "node": "DeepSeek scoring", "type": "main", "index": 0 }]] },
    "DeepSeek scoring": { "main": [[{ "node": "Fusion scores", "type": "main", "index": 0 }]] },
    "Fusion scores": { "main": [[{ "node": "MAJ score (LLM)", "type": "main", "index": 0 }]] },
    "MAJ score (LLM)": { "main": [[{ "node": "Score suffisant ?", "type": "main", "index": 0 }]] },
    "Score suffisant ?": { "main": [[{ "node": "Discord jobs-alerts", "type": "main", "index": 0 }], []] },
    "Discord jobs-alerts": { "main": [[{ "node": "Boucle profils", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "meta": {
    "note": "BROUILLON multi-profils à vérifier à l'import. Boucle: Profils actifs (Postgres) -> SplitInBatches 'Boucle profils' (sortie 1 = itération, sortie 0 = fin). Pour CHAQUE profil: 5 sources (Adzuna, France Travail, JobSpy, Google Jobs/SerpApi) -> Merge(5 entrées, indices 0-3 reliés + JobSpy/GJob) -> score déterministe + profile_id -> hash -> INSERT (skipOnConflict) -> affinage DeepSeek top-N avec must_have/exclusions DU PROFIL -> MAJ score -> seuil score_threshold du profil -> Discord alerts -> retour à 'Boucle profils'. 5 sources reliées au Merge (indices 0-4). À VÉRIFIER à l'import: comportement exact du loopback SplitInBatches (sortie 1 = boucle, 0 = fin), le passage de $('Boucle profils').item dans toute la boucle, le mode du Merge à 5 entrées, et les credentials Postgres. Logique = workflows/lib/*.mjs (testées). jobs-log à rebrancher dans la boucle si besoin."
  }
}
