workflows/01-recherche-offres.json
{
  "id": "wf01rechercheoff",
  "name": "01 - Recherche d'offres (multi-profils)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "a1000000-0000-4000-8000-000000000001",
      "name": "Tous les jours 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, keywords, location_insee, location_label, latitude, longitude, rome_codes, radius_km, contract_types, seniority, must_have, exclusions, score_threshold FROM search_profiles WHERE active = true ORDER BY id;",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000002",
      "name": "Profils actifs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -200,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "REMPLACER",
          "name": "Postgres job-hunter"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000003",
      "name": "Boucle profils",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Token France Travail CACHÉ (static data) avec expiration : il est valide ~25 min\n// -> inutile de le redemander à chaque profil ET à chaque run. Refetch seulement\n// s'il a expiré (marge 60s). 10 profils -> ~1 fetch / 25 min. Tolérant.\nconst sd = $getWorkflowStaticData('global');\nconst now = Date.now();\nif (sd.ftToken && sd.ftTokenExp && now < sd.ftTokenExp) {\n  return [{ json: sd.ftToken }];\n}\nconst body = new URLSearchParams({\n  grant_type: 'client_credentials',\n  client_id: $env.FRANCE_TRAVAIL_CLIENT_ID || '',\n  client_secret: $env.FRANCE_TRAVAIL_CLIENT_SECRET || '',\n  scope: 'api_offresdemploiv2 o2dsoffre',\n}).toString();\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://entreprise.francetravail.fr/connexion/oauth2/access_token?realm=/partenaire',\n    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n    body,\n  });\n  const tok = typeof resp === 'string' ? JSON.parse(resp) : resp;\n  sd.ftToken = tok;\n  sd.ftTokenExp = now + (((tok.expires_in || 1499) - 60) * 1000);\n  return [{ json: tok }];\n} catch (e) {\n  return [];\n}"
      },
      "id": "a1000000-0000-4000-8000-000000000020",
      "name": "FT - token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://api.francetravail.io/partenaire/offresdemploi/v2/offres/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "motsCles",
              "value": "={{ $('Boucle profils').first().json.keywords }}"
            },
            {
              "name": "commune",
              "value": "={{ $('Boucle profils').first().json.location_insee }}"
            },
            {
              "name": "distance",
              "value": "={{ $('Boucle profils').first().json.radius_km }}"
            },
            {
              "name": "range",
              "value": "0-149"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000021",
      "name": "FT - search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ⚠️ AUTO-GÉNÉRÉ par workflows/lib/build-nodes.mjs depuis sources.mjs.\n// Ne pas éditer ici : modifie sources.mjs puis relance `just build-nodes`.\n\n// Normaliseurs par source : réponse brute d'une API/flux -> offres au schéma\n// commun (champs de la table `offers`, hors hash/score qui sont ajoutés ensuite\n// par annotate() de offer-utils.mjs).\n//\n// Source de vérité de ce mapping. Dans n8n, chaque source a un nœud Code qui\n// colle le corps du normaliseur correspondant. Testé par sources.test.mjs.\n\nconst s = (v) => String(v ?? \"\").trim();\n\n/** Adzuna : { results: [...] } — GET /v1/api/jobs/fr/search/{page}. */\nfunction normalizeAdzuna(payload) {\n  const results = payload?.results ?? [];\n  return results.map((r) => ({\n    source: \"adzuna\",\n    source_id: s(r.id),\n    title: s(r.title),\n    company: s(r.company?.display_name),\n    location: s(r.location?.display_name),\n    contract_type: s(r.contract_time || r.contract_type),\n    salary: r.salary_min ? s(r.salary_min) : \"\",\n    description: s(r.description),\n    url: s(r.redirect_url),\n  }));\n}\n\n/** France Travail : { resultats: [...] } — Offres d'emploi v2 /offres/search. */\nfunction normalizeFranceTravail(payload) {\n  const results = payload?.resultats ?? [];\n  return results.map((r) => ({\n    source: \"france_travail\",\n    source_id: s(r.id),\n    title: s(r.intitule),\n    company: s(r.entreprise?.nom),\n    location: s(r.lieuTravail?.libelle),\n    contract_type: s(r.typeContrat || r.typeContratLibelle),\n    salary: s(r.salaire?.libelle),\n    description: s(r.description),\n    url: s(r.origineOffre?.urlOrigine),\n  }));\n}\n\n/**\n * JobSpy : déjà normalisé par le micro-service (services/jobspy) sous\n * { count, offers: [...] }. On revalide juste la forme et on force la source.\n */\nfunction normalizeJobSpy(payload) {\n  const offers = payload?.offers ?? [];\n  return offers.map((o) => ({\n    source: s(o.source) || \"jobspy\",\n    source_id: s(o.source_id || o.url),\n    title: s(o.title),\n    company: s(o.company),\n    location: s(o.location),\n    contract_type: s(o.contract_type),\n    salary: s(o.salary),\n    description: s(o.description),\n    url: s(o.url),\n  }));\n}\n\n/**\n * Welcome to the Jungle (RSS) : liste d'items { title, link, contentSnippet,\n * content, isoDate }. Pas d'entreprise fiable dans le flux ; on tente de\n * l'extraire d'un titre au format \"Poste - Entreprise\".\n */\nfunction normalizeWTTJ(items) {\n  const list = items ?? [];\n  return list.map((it) => {\n    const rawTitle = s(it.title);\n    let title = rawTitle;\n    let company = \"\";\n    const dash = rawTitle.split(/\\s[-–|]\\s/);\n    if (dash.length >= 2) {\n      title = s(dash[0]);\n      company = s(dash[dash.length - 1]);\n    }\n    return {\n      source: \"wttj\",\n      source_id: s(it.guid || it.id || it.link),\n      title,\n      company,\n      location: s(it.location),\n      contract_type: \"\",\n      salary: \"\",\n      description: s(it.contentSnippet || it.content || it.description),\n      url: s(it.link),\n    };\n  });\n}\n\n/**\n * Google Jobs via SerpApi : { jobs_results: [...] }. Source principale du\n * pipeline Make réel. URL : on prend le 1er lien de candidature / partage dispo.\n */\nfunction normalizeGoogleJobs(payload) {\n  const results = payload?.jobs_results ?? [];\n  return results.map((r) => {\n    const ext = r.detected_extensions ?? {};\n    const url =\n      r.share_link ||\n      (Array.isArray(r.apply_options) && r.apply_options[0]?.link) ||\n      (Array.isArray(r.related_links) && r.related_links[0]?.link) ||\n      \"\";\n    return {\n      source: \"google_jobs\",\n      source_id: s(r.job_id),\n      title: s(r.title),\n      company: s(r.company_name),\n      location: s(r.location),\n      contract_type: s(ext.schedule_type),\n      salary: s(ext.salary),\n      description: s(r.description),\n      url: s(url),\n    };\n  });\n}\n\n/**\n * JSearch (RapidAPI) : { data: [...] } — agrégateur LinkedIn/Indeed/Glassdoor\n * via API officielle (alternative fiable au scraping JobSpy). Forme de réponse\n * vérifiée sur un workflow n8n fonctionnel. `source` = jsearch:<publisher>.\n */\nfunction normalizeJSearch(payload) {\n  const results = payload?.data ?? [];\n  return results.map((r) => {\n    const publisher = s(r.job_publisher).toLowerCase().replace(/\\s+/g, \"-\");\n    return {\n      source: publisher ? `jsearch:${publisher}` : \"jsearch\",\n      source_id: s(r.job_id),\n      title: s(r.job_title),\n      company: s(r.employer_name),\n      location: s(r.job_city || r.job_location),\n      contract_type: s(r.job_employment_type),\n      salary: s(r.job_salary_string),\n      description: s(r.job_description),\n      url: s(r.job_apply_link || r.job_google_link),\n    };\n  });\n}\n\n/**\n * La Bonne Alternance (service public apprentissage / beta.gouv) — API emploi\n * unifiée v3 : GET https://api.apprentissage.beta.gouv.fr/api/job/v1/search\n * (params romes + latitude/longitude + radius ; clé API en Bearer).\n *\n * La réponse contient DEUX listes au schéma \"offre\" normalisé :\n *  - `jobs`       : offres d'alternance publiées -> pipeline offres classique ;\n *  - `recruiters` : entreprises à fort potentiel d'embauche, SANS offre publiée,\n *                   à contacter en CANDIDATURE SPONTANÉE (cf. normalizeLBARecruiters).\n *\n * Forme VÉRIFIÉE sur un vrai appel (2026-06-28, auth `Bearer`, zone Valenciennes/\n * Lille, rome M1805) et verrouillée par des fixtures réelles dans sources.test.mjs.\n * Note : les jobs partenaires (France Travail) ont `workplace.{brand,name,\n * legal_name}` à null -> `company` vide (dégradation propre, jamais d'invention).\n */\nfunction normalizeLaBonneAlternanceJobs(payload) {\n  const jobs = payload?.jobs ?? [];\n  return jobs.map((j) => {\n    const wp = j.workplace ?? {};\n    const types = j.contract?.type;\n    return {\n      source: \"la_bonne_alternance\",\n      source_id: s(j.identifier?.id || j.identifier?.partner_job_id),\n      title: s(j.offer?.title),\n      company: s(wp.brand || wp.name || wp.legal_name),\n      location: s(wp.location?.address),\n      contract_type: s(Array.isArray(types) ? types.join(\", \") : types) || \"Alternance\",\n      salary: \"\",\n      description: s(j.offer?.description),\n      url: s(j.apply?.url),\n    };\n  });\n}\n\n/**\n * La Bonne Alternance — volet \"entreprises à contacter\" (candidature spontanée).\n * Renvoie des fiches ENTREPRISE (schéma proche de la table `companies`), pas des\n * offres : pas de description de poste, mais un lien/contact de candidature.\n */\nfunction normalizeLBARecruiters(payload) {\n  const recruiters = payload?.recruiters ?? [];\n  return recruiters.map((r) => {\n    const wp = r.workplace ?? {};\n    return {\n      source: \"la_bonne_alternance\",\n      source_id: s(r.identifier?.id || wp.siret),\n      name: s(wp.brand || wp.name || wp.legal_name),\n      siret: s(wp.siret),\n      sector: s(wp.domain?.naf?.label || wp.naf?.label),\n      website: s(wp.website),\n      location: s(wp.location?.address),\n      apply_url: s(r.apply?.url),\n      phone: s(r.apply?.phone),\n      email: s(r.apply?.email || r.contact?.email || wp.email),\n    };\n  });\n}\n\nconst NORMALIZERS = {\n  adzuna: normalizeAdzuna,\n  france_travail: normalizeFranceTravail,\n  jobspy: normalizeJobSpy,\n  wttj: normalizeWTTJ,\n  google_jobs: normalizeGoogleJobs,\n  jsearch: normalizeJSearch,\n  la_bonne_alternance: normalizeLaBonneAlternanceJobs,\n};\n\n// --- driver: norm FT (réponse France Travail -> schéma commun) ---\nreturn normalizeFranceTravail($input.first().json).map((o) => ({ json: o }));\n"
      },
      "id": "a1000000-0000-4000-8000-000000000022",
      "name": "norm FT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        240
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.JOBSPY_API_URL }}/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "term",
              "value": "={{ $('Boucle profils').first().json.keywords }}"
            },
            {
              "name": "location",
              "value": "={{ $('Boucle profils').first().json.location_label }}, France"
            },
            {
              "name": "results",
              "value": "50"
            },
            {
              "name": "hours_old",
              "value": "48"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000030",
      "name": "JobSpy - search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ⚠️ AUTO-GÉNÉRÉ par workflows/lib/build-nodes.mjs depuis sources.mjs.\n// Ne pas éditer ici : modifie sources.mjs puis relance `just build-nodes`.\n\n// Normaliseurs par source : réponse brute d'une API/flux -> offres au schéma\n// commun (champs de la table `offers`, hors hash/score qui sont ajoutés ensuite\n// par annotate() de offer-utils.mjs).\n//\n// Source de vérité de ce mapping. Dans n8n, chaque source a un nœud Code qui\n// colle le corps du normaliseur correspondant. Testé par sources.test.mjs.\n\nconst s = (v) => String(v ?? \"\").trim();\n\n/** Adzuna : { results: [...] } — GET /v1/api/jobs/fr/search/{page}. */\nfunction normalizeAdzuna(payload) {\n  const results = payload?.results ?? [];\n  return results.map((r) => ({\n    source: \"adzuna\",\n    source_id: s(r.id),\n    title: s(r.title),\n    company: s(r.company?.display_name),\n    location: s(r.location?.display_name),\n    contract_type: s(r.contract_time || r.contract_type),\n    salary: r.salary_min ? s(r.salary_min) : \"\",\n    description: s(r.description),\n    url: s(r.redirect_url),\n  }));\n}\n\n/** France Travail : { resultats: [...] } — Offres d'emploi v2 /offres/search. */\nfunction normalizeFranceTravail(payload) {\n  const results = payload?.resultats ?? [];\n  return results.map((r) => ({\n    source: \"france_travail\",\n    source_id: s(r.id),\n    title: s(r.intitule),\n    company: s(r.entreprise?.nom),\n    location: s(r.lieuTravail?.libelle),\n    contract_type: s(r.typeContrat || r.typeContratLibelle),\n    salary: s(r.salaire?.libelle),\n    description: s(r.description),\n    url: s(r.origineOffre?.urlOrigine),\n  }));\n}\n\n/**\n * JobSpy : déjà normalisé par le micro-service (services/jobspy) sous\n * { count, offers: [...] }. On revalide juste la forme et on force la source.\n */\nfunction normalizeJobSpy(payload) {\n  const offers = payload?.offers ?? [];\n  return offers.map((o) => ({\n    source: s(o.source) || \"jobspy\",\n    source_id: s(o.source_id || o.url),\n    title: s(o.title),\n    company: s(o.company),\n    location: s(o.location),\n    contract_type: s(o.contract_type),\n    salary: s(o.salary),\n    description: s(o.description),\n    url: s(o.url),\n  }));\n}\n\n/**\n * Welcome to the Jungle (RSS) : liste d'items { title, link, contentSnippet,\n * content, isoDate }. Pas d'entreprise fiable dans le flux ; on tente de\n * l'extraire d'un titre au format \"Poste - Entreprise\".\n */\nfunction normalizeWTTJ(items) {\n  const list = items ?? [];\n  return list.map((it) => {\n    const rawTitle = s(it.title);\n    let title = rawTitle;\n    let company = \"\";\n    const dash = rawTitle.split(/\\s[-–|]\\s/);\n    if (dash.length >= 2) {\n      title = s(dash[0]);\n      company = s(dash[dash.length - 1]);\n    }\n    return {\n      source: \"wttj\",\n      source_id: s(it.guid || it.id || it.link),\n      title,\n      company,\n      location: s(it.location),\n      contract_type: \"\",\n      salary: \"\",\n      description: s(it.contentSnippet || it.content || it.description),\n      url: s(it.link),\n    };\n  });\n}\n\n/**\n * Google Jobs via SerpApi : { jobs_results: [...] }. Source principale du\n * pipeline Make réel. URL : on prend le 1er lien de candidature / partage dispo.\n */\nfunction normalizeGoogleJobs(payload) {\n  const results = payload?.jobs_results ?? [];\n  return results.map((r) => {\n    const ext = r.detected_extensions ?? {};\n    const url =\n      r.share_link ||\n      (Array.isArray(r.apply_options) && r.apply_options[0]?.link) ||\n      (Array.isArray(r.related_links) && r.related_links[0]?.link) ||\n      \"\";\n    return {\n      source: \"google_jobs\",\n      source_id: s(r.job_id),\n      title: s(r.title),\n      company: s(r.company_name),\n      location: s(r.location),\n      contract_type: s(ext.schedule_type),\n      salary: s(ext.salary),\n      description: s(r.description),\n      url: s(url),\n    };\n  });\n}\n\n/**\n * JSearch (RapidAPI) : { data: [...] } — agrégateur LinkedIn/Indeed/Glassdoor\n * via API officielle (alternative fiable au scraping JobSpy). Forme de réponse\n * vérifiée sur un workflow n8n fonctionnel. `source` = jsearch:<publisher>.\n */\nfunction normalizeJSearch(payload) {\n  const results = payload?.data ?? [];\n  return results.map((r) => {\n    const publisher = s(r.job_publisher).toLowerCase().replace(/\\s+/g, \"-\");\n    return {\n      source: publisher ? `jsearch:${publisher}` : \"jsearch\",\n      source_id: s(r.job_id),\n      title: s(r.job_title),\n      company: s(r.employer_name),\n      location: s(r.job_city || r.job_location),\n      contract_type: s(r.job_employment_type),\n      salary: s(r.job_salary_string),\n      description: s(r.job_description),\n      url: s(r.job_apply_link || r.job_google_link),\n    };\n  });\n}\n\n/**\n * La Bonne Alternance (service public apprentissage / beta.gouv) — API emploi\n * unifiée v3 : GET https://api.apprentissage.beta.gouv.fr/api/job/v1/search\n * (params romes + latitude/longitude + radius ; clé API en Bearer).\n *\n * La réponse contient DEUX listes au schéma \"offre\" normalisé :\n *  - `jobs`       : offres d'alternance publiées -> pipeline offres classique ;\n *  - `recruiters` : entreprises à fort potentiel d'embauche, SANS offre publiée,\n *                   à contacter en CANDIDATURE SPONTANÉE (cf. normalizeLBARecruiters).\n *\n * Forme VÉRIFIÉE sur un vrai appel (2026-06-28, auth `Bearer`, zone Valenciennes/\n * Lille, rome M1805) et verrouillée par des fixtures réelles dans sources.test.mjs.\n * Note : les jobs partenaires (France Travail) ont `workplace.{brand,name,\n * legal_name}` à null -> `company` vide (dégradation propre, jamais d'invention).\n */\nfunction normalizeLaBonneAlternanceJobs(payload) {\n  const jobs = payload?.jobs ?? [];\n  return jobs.map((j) => {\n    const wp = j.workplace ?? {};\n    const types = j.contract?.type;\n    return {\n      source: \"la_bonne_alternance\",\n      source_id: s(j.identifier?.id || j.identifier?.partner_job_id),\n      title: s(j.offer?.title),\n      company: s(wp.brand || wp.name || wp.legal_name),\n      location: s(wp.location?.address),\n      contract_type: s(Array.isArray(types) ? types.join(\", \") : types) || \"Alternance\",\n      salary: \"\",\n      description: s(j.offer?.description),\n      url: s(j.apply?.url),\n    };\n  });\n}\n\n/**\n * La Bonne Alternance — volet \"entreprises à contacter\" (candidature spontanée).\n * Renvoie des fiches ENTREPRISE (schéma proche de la table `companies`), pas des\n * offres : pas de description de poste, mais un lien/contact de candidature.\n */\nfunction normalizeLBARecruiters(payload) {\n  const recruiters = payload?.recruiters ?? [];\n  return recruiters.map((r) => {\n    const wp = r.workplace ?? {};\n    return {\n      source: \"la_bonne_alternance\",\n      source_id: s(r.identifier?.id || wp.siret),\n      name: s(wp.brand || wp.name || wp.legal_name),\n      siret: s(wp.siret),\n      sector: s(wp.domain?.naf?.label || wp.naf?.label),\n      website: s(wp.website),\n      location: s(wp.location?.address),\n      apply_url: s(r.apply?.url),\n      phone: s(r.apply?.phone),\n      email: s(r.apply?.email || r.contact?.email || wp.email),\n    };\n  });\n}\n\nconst NORMALIZERS = {\n  adzuna: normalizeAdzuna,\n  france_travail: normalizeFranceTravail,\n  jobspy: normalizeJobSpy,\n  wttj: normalizeWTTJ,\n  google_jobs: normalizeGoogleJobs,\n  jsearch: normalizeJSearch,\n  la_bonne_alternance: normalizeLaBonneAlternanceJobs,\n};\n\n// --- driver: norm JobSpy (réponse du micro-service -> schéma commun) ---\nreturn normalizeJobSpy($input.first().json).map((o) => ({ json: o }));\n"
      },
      "id": "a1000000-0000-4000-8000-000000000031",
      "name": "norm JobSpy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Dédup des appels LBA : LBA ne dépend que de (lat,long,ROME,rayon), pas des\n// mots-clés -> inutile de l'appeler pour chaque profil d'une même ville. Seul le\n// PREMIER profil de chaque géo appelle l'API ; les autres skippent (10 -> 2 appels).\nconst prof = $('Boucle profils').first().json;\nconst all = $('Profils actifs').all().map((i) => i.json);\nconst geoKey = (x) => `${x.latitude},${x.longitude},${x.rome_codes},${x.radius_km}`;\nif (!prof.latitude || !prof.rome_codes) return [];\nconst firstForGeo = all.find((x) => geoKey(x) === geoKey(prof));\nif (!firstForGeo || firstForGeo.id !== prof.id) return [];\nconst url = 'https://api.apprentissage.beta.gouv.fr/api/job/v1/search?' + new URLSearchParams({\n  romes: prof.rome_codes, latitude: prof.latitude, longitude: prof.longitude, radius: prof.radius_km || 30,\n});\ntry {\n  const resp = await this.helpers.httpRequest({ method: 'GET', url, headers: { Authorization: 'Bearer ' + $env.LBA_API_KEY }, json: true });\n  return [{ json: resp }];\n} catch (e) {\n  return [{ json: { jobs: [], recruiters: [] } }];\n}"
      },
      "id": "a1000000-0000-4000-8000-000000000060",
      "name": "LBA - search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        1040
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ⚠️ AUTO-GÉNÉRÉ par workflows/lib/build-nodes.mjs depuis sources.mjs.\n// Ne pas éditer ici : modifie sources.mjs puis relance `just build-nodes`.\n\n// Normaliseurs par source : réponse brute d'une API/flux -> offres au schéma\n// commun (champs de la table `offers`, hors hash/score qui sont ajoutés ensuite\n// par annotate() de offer-utils.mjs).\n//\n// Source de vérité de ce mapping. Dans n8n, chaque source a un nœud Code qui\n// colle le corps du normaliseur correspondant. Testé par sources.test.mjs.\n\nconst s = (v) => String(v ?? \"\").trim();\n\n/** Adzuna : { results: [...] } — GET /v1/api/jobs/fr/search/{page}. */\nfunction normalizeAdzuna(payload) {\n  const results = payload?.results ?? [];\n  return results.map((r) => ({\n    source: \"adzuna\",\n    source_id: s(r.id),\n    title: s(r.title),\n    company: s(r.company?.display_name),\n    location: s(r.location?.display_name),\n    contract_type: s(r.contract_time || r.contract_type),\n    salary: r.salary_min ? s(r.salary_min) : \"\",\n    description: s(r.description),\n    url: s(r.redirect_url),\n  }));\n}\n\n/** France Travail : { resultats: [...] } — Offres d'emploi v2 /offres/search. */\nfunction normalizeFranceTravail(payload) {\n  const results = payload?.resultats ?? [];\n  return results.map((r) => ({\n    source: \"france_travail\",\n    source_id: s(r.id),\n    title: s(r.intitule),\n    company: s(r.entreprise?.nom),\n    location: s(r.lieuTravail?.libelle),\n    contract_type: s(r.typeContrat || r.typeContratLibelle),\n    salary: s(r.salaire?.libelle),\n    description: s(r.description),\n    url: s(r.origineOffre?.urlOrigine),\n  }));\n}\n\n/**\n * JobSpy : déjà normalisé par le micro-service (services/jobspy) sous\n * { count, offers: [...] }. On revalide juste la forme et on force la source.\n */\nfunction normalizeJobSpy(payload) {\n  const offers = payload?.offers ?? [];\n  return offers.map((o) => ({\n    source: s(o.source) || \"jobspy\",\n    source_id: s(o.source_id || o.url),\n    title: s(o.title),\n    company: s(o.company),\n    location: s(o.location),\n    contract_type: s(o.contract_type),\n    salary: s(o.salary),\n    description: s(o.description),\n    url: s(o.url),\n  }));\n}\n\n/**\n * Welcome to the Jungle (RSS) : liste d'items { title, link, contentSnippet,\n * content, isoDate }. Pas d'entreprise fiable dans le flux ; on tente de\n * l'extraire d'un titre au format \"Poste - Entreprise\".\n */\nfunction normalizeWTTJ(items) {\n  const list = items ?? [];\n  return list.map((it) => {\n    const rawTitle = s(it.title);\n    let title = rawTitle;\n    let company = \"\";\n    const dash = rawTitle.split(/\\s[-–|]\\s/);\n    if (dash.length >= 2) {\n      title = s(dash[0]);\n      company = s(dash[dash.length - 1]);\n    }\n    return {\n      source: \"wttj\",\n      source_id: s(it.guid || it.id || it.link),\n      title,\n      company,\n      location: s(it.location),\n      contract_type: \"\",\n      salary: \"\",\n      description: s(it.contentSnippet || it.content || it.description),\n      url: s(it.link),\n    };\n  });\n}\n\n/**\n * Google Jobs via SerpApi : { jobs_results: [...] }. Source principale du\n * pipeline Make réel. URL : on prend le 1er lien de candidature / partage dispo.\n */\nfunction normalizeGoogleJobs(payload) {\n  const results = payload?.jobs_results ?? [];\n  return results.map((r) => {\n    const ext = r.detected_extensions ?? {};\n    const url =\n      r.share_link ||\n      (Array.isArray(r.apply_options) && r.apply_options[0]?.link) ||\n      (Array.isArray(r.related_links) && r.related_links[0]?.link) ||\n      \"\";\n    return {\n      source: \"google_jobs\",\n      source_id: s(r.job_id),\n      title: s(r.title),\n      company: s(r.company_name),\n      location: s(r.location),\n      contract_type: s(ext.schedule_type),\n      salary: s(ext.salary),\n      description: s(r.description),\n      url: s(url),\n    };\n  });\n}\n\n/**\n * JSearch (RapidAPI) : { data: [...] } — agrégateur LinkedIn/Indeed/Glassdoor\n * via API officielle (alternative fiable au scraping JobSpy). Forme de réponse\n * vérifiée sur un workflow n8n fonctionnel. `source` = jsearch:<publisher>.\n */\nfunction normalizeJSearch(payload) {\n  const results = payload?.data ?? [];\n  return results.map((r) => {\n    const publisher = s(r.job_publisher).toLowerCase().replace(/\\s+/g, \"-\");\n    return {\n      source: publisher ? `jsearch:${publisher}` : \"jsearch\",\n      source_id: s(r.job_id),\n      title: s(r.job_title),\n      company: s(r.employer_name),\n      location: s(r.job_city || r.job_location),\n      contract_type: s(r.job_employment_type),\n      salary: s(r.job_salary_string),\n      description: s(r.job_description),\n      url: s(r.job_apply_link || r.job_google_link),\n    };\n  });\n}\n\n/**\n * La Bonne Alternance (service public apprentissage / beta.gouv) — API emploi\n * unifiée v3 : GET https://api.apprentissage.beta.gouv.fr/api/job/v1/search\n * (params romes + latitude/longitude + radius ; clé API en Bearer).\n *\n * La réponse contient DEUX listes au schéma \"offre\" normalisé :\n *  - `jobs`       : offres d'alternance publiées -> pipeline offres classique ;\n *  - `recruiters` : entreprises à fort potentiel d'embauche, SANS offre publiée,\n *                   à contacter en CANDIDATURE SPONTANÉE (cf. normalizeLBARecruiters).\n *\n * Forme VÉRIFIÉE sur un vrai appel (2026-06-28, auth `Bearer`, zone Valenciennes/\n * Lille, rome M1805) et verrouillée par des fixtures réelles dans sources.test.mjs.\n * Note : les jobs partenaires (France Travail) ont `workplace.{brand,name,\n * legal_name}` à null -> `company` vide (dégradation propre, jamais d'invention).\n */\nfunction normalizeLaBonneAlternanceJobs(payload) {\n  const jobs = payload?.jobs ?? [];\n  return jobs.map((j) => {\n    const wp = j.workplace ?? {};\n    const types = j.contract?.type;\n    return {\n      source: \"la_bonne_alternance\",\n      source_id: s(j.identifier?.id || j.identifier?.partner_job_id),\n      title: s(j.offer?.title),\n      company: s(wp.brand || wp.name || wp.legal_name),\n      location: s(wp.location?.address),\n      contract_type: s(Array.isArray(types) ? types.join(\", \") : types) || \"Alternance\",\n      salary: \"\",\n      description: s(j.offer?.description),\n      url: s(j.apply?.url),\n    };\n  });\n}\n\n/**\n * La Bonne Alternance — volet \"entreprises à contacter\" (candidature spontanée).\n * Renvoie des fiches ENTREPRISE (schéma proche de la table `companies`), pas des\n * offres : pas de description de poste, mais un lien/contact de candidature.\n */\nfunction normalizeLBARecruiters(payload) {\n  const recruiters = payload?.recruiters ?? [];\n  return recruiters.map((r) => {\n    const wp = r.workplace ?? {};\n    return {\n      source: \"la_bonne_alternance\",\n      source_id: s(r.identifier?.id || wp.siret),\n      name: s(wp.brand || wp.name || wp.legal_name),\n      siret: s(wp.siret),\n      sector: s(wp.domain?.naf?.label || wp.naf?.label),\n      website: s(wp.website),\n      location: s(wp.location?.address),\n      apply_url: s(r.apply?.url),\n      phone: s(r.apply?.phone),\n      email: s(r.apply?.email || r.contact?.email || wp.email),\n    };\n  });\n}\n\nconst NORMALIZERS = {\n  adzuna: normalizeAdzuna,\n  france_travail: normalizeFranceTravail,\n  jobspy: normalizeJobSpy,\n  wttj: normalizeWTTJ,\n  google_jobs: normalizeGoogleJobs,\n  jsearch: normalizeJSearch,\n  la_bonne_alternance: normalizeLaBonneAlternanceJobs,\n};\n\n// --- driver: norm LBA (offres d'alternance jobs[] -> schéma commun) ---\nreturn normalizeLaBonneAlternanceJobs($input.first().json).map((o) => ({ json: o }));\n"
      },
      "id": "a1000000-0000-4000-8000-000000000061",
      "name": "norm LBA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        1000
      ]
    },
    {
      "parameters": {
        "jsCode": "// ⚠️ AUTO-GÉNÉRÉ par workflows/lib/build-nodes.mjs depuis sources.mjs.\n// Ne pas éditer ici : modifie sources.mjs puis relance `just build-nodes`.\n\n// Normaliseurs par source : réponse brute d'une API/flux -> offres au schéma\n// commun (champs de la table `offers`, hors hash/score qui sont ajoutés ensuite\n// par annotate() de offer-utils.mjs).\n//\n// Source de vérité de ce mapping. Dans n8n, chaque source a un nœud Code qui\n// colle le corps du normaliseur correspondant. Testé par sources.test.mjs.\n\nconst s = (v) => String(v ?? \"\").trim();\n\n/** Adzuna : { results: [...] } — GET /v1/api/jobs/fr/search/{page}. */\nfunction normalizeAdzuna(payload) {\n  const results = payload?.results ?? [];\n  return results.map((r) => ({\n    source: \"adzuna\",\n    source_id: s(r.id),\n    title: s(r.title),\n    company: s(r.company?.display_name),\n    location: s(r.location?.display_name),\n    contract_type: s(r.contract_time || r.contract_type),\n    salary: r.salary_min ? s(r.salary_min) : \"\",\n    description: s(r.description),\n    url: s(r.redirect_url),\n  }));\n}\n\n/** France Travail : { resultats: [...] } — Offres d'emploi v2 /offres/search. */\nfunction normalizeFranceTravail(payload) {\n  const results = payload?.resultats ?? [];\n  return results.map((r) => ({\n    source: \"france_travail\",\n    source_id: s(r.id),\n    title: s(r.intitule),\n    company: s(r.entreprise?.nom),\n    location: s(r.lieuTravail?.libelle),\n    contract_type: s(r.typeContrat || r.typeContratLibelle),\n    salary: s(r.salaire?.libelle),\n    description: s(r.description),\n    url: s(r.origineOffre?.urlOrigine),\n  }));\n}\n\n/**\n * JobSpy : déjà normalisé par le micro-service (services/jobspy) sous\n * { count, offers: [...] }. On revalide juste la forme et on force la source.\n */\nfunction normalizeJobSpy(payload) {\n  const offers = payload?.offers ?? [];\n  return offers.map((o) => ({\n    source: s(o.source) || \"jobspy\",\n    source_id: s(o.source_id || o.url),\n    title: s(o.title),\n    company: s(o.company),\n    location: s(o.location),\n    contract_type: s(o.contract_type),\n    salary: s(o.salary),\n    description: s(o.description),\n    url: s(o.url),\n  }));\n}\n\n/**\n * Welcome to the Jungle (RSS) : liste d'items { title, link, contentSnippet,\n * content, isoDate }. Pas d'entreprise fiable dans le flux ; on tente de\n * l'extraire d'un titre au format \"Poste - Entreprise\".\n */\nfunction normalizeWTTJ(items) {\n  const list = items ?? [];\n  return list.map((it) => {\n    const rawTitle = s(it.title);\n    let title = rawTitle;\n    let company = \"\";\n    const dash = rawTitle.split(/\\s[-–|]\\s/);\n    if (dash.length >= 2) {\n      title = s(dash[0]);\n      company = s(dash[dash.length - 1]);\n    }\n    return {\n      source: \"wttj\",\n      source_id: s(it.guid || it.id || it.link),\n      title,\n      company,\n      location: s(it.location),\n      contract_type: \"\",\n      salary: \"\",\n      description: s(it.contentSnippet || it.content || it.description),\n      url: s(it.link),\n    };\n  });\n}\n\n/**\n * Google Jobs via SerpApi : { jobs_results: [...] }. Source principale du\n * pipeline Make réel. URL : on prend le 1er lien de candidature / partage dispo.\n */\nfunction normalizeGoogleJobs(payload) {\n  const results = payload?.jobs_results ?? [];\n  return results.map((r) => {\n    const ext = r.detected_extensions ?? {};\n    const url =\n      r.share_link ||\n      (Array.isArray(r.apply_options) && r.apply_options[0]?.link) ||\n      (Array.isArray(r.related_links) && r.related_links[0]?.link) ||\n      \"\";\n    return {\n      source: \"google_jobs\",\n      source_id: s(r.job_id),\n      title: s(r.title),\n      company: s(r.company_name),\n      location: s(r.location),\n      contract_type: s(ext.schedule_type),\n      salary: s(ext.salary),\n      description: s(r.description),\n      url: s(url),\n    };\n  });\n}\n\n/**\n * JSearch (RapidAPI) : { data: [...] } — agrégateur LinkedIn/Indeed/Glassdoor\n * via API officielle (alternative fiable au scraping JobSpy). Forme de réponse\n * vérifiée sur un workflow n8n fonctionnel. `source` = jsearch:<publisher>.\n */\nfunction normalizeJSearch(payload) {\n  const results = payload?.data ?? [];\n  return results.map((r) => {\n    const publisher = s(r.job_publisher).toLowerCase().replace(/\\s+/g, \"-\");\n    return {\n      source: publisher ? `jsearch:${publisher}` : \"jsearch\",\n      source_id: s(r.job_id),\n      title: s(r.job_title),\n      company: s(r.employer_name),\n      location: s(r.job_city || r.job_location),\n      contract_type: s(r.job_employment_type),\n      salary: s(r.job_salary_string),\n      description: s(r.job_description),\n      url: s(r.job_apply_link || r.job_google_link),\n    };\n  });\n}\n\n/**\n * La Bonne Alternance (service public apprentissage / beta.gouv) — API emploi\n * unifiée v3 : GET https://api.apprentissage.beta.gouv.fr/api/job/v1/search\n * (params romes + latitude/longitude + radius ; clé API en Bearer).\n *\n * La réponse contient DEUX listes au schéma \"offre\" normalisé :\n *  - `jobs`       : offres d'alternance publiées -> pipeline offres classique ;\n *  - `recruiters` : entreprises à fort potentiel d'embauche, SANS offre publiée,\n *                   à contacter en CANDIDATURE SPONTANÉE (cf. normalizeLBARecruiters).\n *\n * Forme VÉRIFIÉE sur un vrai appel (2026-06-28, auth `Bearer`, zone Valenciennes/\n * Lille, rome M1805) et verrouillée par des fixtures réelles dans sources.test.mjs.\n * Note : les jobs partenaires (France Travail) ont `workplace.{brand,name,\n * legal_name}` à null -> `company` vide (dégradation propre, jamais d'invention).\n */\nfunction normalizeLaBonneAlternanceJobs(payload) {\n  const jobs = payload?.jobs ?? [];\n  return jobs.map((j) => {\n    const wp = j.workplace ?? {};\n    const types = j.contract?.type;\n    return {\n      source: \"la_bonne_alternance\",\n      source_id: s(j.identifier?.id || j.identifier?.partner_job_id),\n      title: s(j.offer?.title),\n      company: s(wp.brand || wp.name || wp.legal_name),\n      location: s(wp.location?.address),\n      contract_type: s(Array.isArray(types) ? types.join(\", \") : types) || \"Alternance\",\n      salary: \"\",\n      description: s(j.offer?.description),\n      url: s(j.apply?.url),\n    };\n  });\n}\n\n/**\n * La Bonne Alternance — volet \"entreprises à contacter\" (candidature spontanée).\n * Renvoie des fiches ENTREPRISE (schéma proche de la table `companies`), pas des\n * offres : pas de description de poste, mais un lien/contact de candidature.\n */\nfunction normalizeLBARecruiters(payload) {\n  const recruiters = payload?.recruiters ?? [];\n  return recruiters.map((r) => {\n    const wp = r.workplace ?? {};\n    return {\n      source: \"la_bonne_alternance\",\n      source_id: s(r.identifier?.id || wp.siret),\n      name: s(wp.brand || wp.name || wp.legal_name),\n      siret: s(wp.siret),\n      sector: s(wp.domain?.naf?.label || wp.naf?.label),\n      website: s(wp.website),\n      location: s(wp.location?.address),\n      apply_url: s(r.apply?.url),\n      phone: s(r.apply?.phone),\n      email: s(r.apply?.email || r.contact?.email || wp.email),\n    };\n  });\n}\n\nconst NORMALIZERS = {\n  adzuna: normalizeAdzuna,\n  france_travail: normalizeFranceTravail,\n  jobspy: normalizeJobSpy,\n  wttj: normalizeWTTJ,\n  google_jobs: normalizeGoogleJobs,\n  jsearch: normalizeJSearch,\n  la_bonne_alternance: normalizeLaBonneAlternanceJobs,\n};\n\n// --- driver: norm LBA recruteurs (entreprises à contacter, candidature spontanée) ---\n// Filtre les fiches sans nom (inutilisables pour l'upsert companies).\nreturn normalizeLBARecruiters($input.first().json).filter((o) => o.name).map((o) => ({ json: o }));\n"
      },
      "id": "a1000000-0000-4000-8000-000000000062",
      "name": "norm LBA recruteurs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        1120
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO companies (name, website, sector, apply_url, phone, email, last_updated) VALUES ($1, $2, $3, $4, $5, $6, now()) ON CONFLICT (name) DO UPDATE SET website = COALESCE(NULLIF(EXCLUDED.website, ''), companies.website), sector = COALESCE(NULLIF(EXCLUDED.sector, ''), companies.sector), apply_url = COALESCE(NULLIF(EXCLUDED.apply_url, ''), companies.apply_url), phone = COALESCE(NULLIF(EXCLUDED.phone, ''), companies.phone), email = COALESCE(NULLIF(EXCLUDED.email, ''), companies.email), last_updated = now() RETURNING name, sector, website, apply_url, phone, email;",
        "options": {
          "queryReplacement": "={{ [$json.name, $json.website || '', $json.sector || '', $json.apply_url || '', $json.phone || '', $json.email || ''] }}"
        }
      },
      "id": "a1000000-0000-4000-8000-000000000063",
      "name": "Upsert entreprise (spontanée)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        680,
        1120
      ],
      "credentials": {
        "postgres": {
          "id": "REMPLACER",
          "name": "Postgres job-hunter"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_ALERTS }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"content\": `🏢 **Candidature spontanée (alternance)** — ${$json.name}${$json.sector ? ' · ' + $json.sector : ''}\\n[${$('Boucle profils').first().json.name}]${$json.website ? '\\n🌐 ' + $json.website : ''}${$json.apply_url ? '\\n🔗 Entreprise: ' + $json.apply_url : ''}${$json.phone ? '\\n☎️ ' + $json.phone : ''}${$json.email ? '\\n✉️ ' + $json.email : ''}\\n✅ Postuler: ${$env.WEBHOOK_URL}webhook/spontaneous-apply?company=${encodeURIComponent($json.name)}${$env.WEBHOOK_SECRET ? '&token=' + encodeURIComponent($env.WEBHOOK_SECRET) : ''}` } }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "id": "a1000000-0000-4000-8000-000000000064",
      "name": "Discord spontanée",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        1120
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "a1000000-0000-4000-8000-000000000050",
      "name": "Fusionner sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        900,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "// ⚠️ AUTO-GÉNÉRÉ par workflows/lib/build-nodes.mjs depuis offer-utils.mjs.\n// Ne pas éditer ici : modifie offer-utils.mjs puis relance `just build-nodes`.\n\n// Logique partagée : déduplication (hash canonicalisé) + scoring des offres\n// (0-100) piloté par le PROFIL de recherche + filtre d'exclusions.\n//\n// SOURCE UNIQUE de cette logique. n8n n'importe pas de fichier dans un nœud Code,\n// donc le jsCode des nœuds « Scorer + hashSource » et « Dédup sémantique » du 01\n// est GÉNÉRÉ d'ici par build-nodes.mjs (`just build-nodes`). Après toute modif,\n// relancer le build ; `just test` vérifie la parité (build-nodes.mjs --check).\n// Testé par offer-utils.test.mjs.\n\n/** Normalise une chaîne : minuscules, accents REPLIÉS (é->e), espaces compactés.\n * Le NFKD décompose les accents ; on retire ensuite les diacritiques combinants\n * pour que « Développeur » et « Developpeur » se canonicalisent pareil (dédup\n * accent-insensible). Sans ce retrait, l'accent combinant devenait un espace. */\nfunction norm(s) {\n  return String(s ?? \"\")\n    .toLowerCase()\n    .normalize(\"NFKD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\n// --- Canonicalisation pour la déduplication (réduit les quasi-doublons\n// inter-sources : \"(H/F)\", \"F/H\", suffixes juridiques, ponctuation, \"France\"). ---\nfunction canonTitle(t) {\n  return norm(t)\n    .replace(/\\(.*?\\)/g, \" \")               // (H/F), (CDI), ...\n    .replace(/\\b[hf]\\s*\\/\\s*[hfx]\\b/g, \" \") // h/f, f/h, h/x\n    .replace(/\\bf\\s*\\/\\s*h\\b/g, \" \")\n    .replace(/[^a-z0-9àâäéèêëîïôöùûüç ]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\nfunction canonCompany(c) {\n  return norm(c)\n    .replace(/\\b(sas|sasu|sarl|sa|eurl|inc|ltd|llc|gmbh|group|groupe)\\b/g, \" \")\n    .replace(/[^a-z0-9àâäéèêëîïôöùûüç ]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\nfunction canonLocation(l) {\n  return norm(l)\n    .replace(/\\bfrance\\b/g, \" \")\n    .replace(/[^a-zàâäéèêëîïôöùûüç ]/g, \" \") // vire les codes INSEE/dépt \"59 -\"\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\n/** Hash de déduplication : SHA256(titre|entreprise|ville) canonicalisés. */\n\n\n// --- Déduplication SÉMANTIQUE (pgvector) : attrape les quasi-doublons inter-\n// sources que le hash exact rate (titre reformulé, intitulé d'entreprise variable).\n// L'embedding est calculé par le micro-service `embeddings` (fastembed) sur ce texte.\n\n/**\n * Seuil de similarité cosinus au-delà duquel deux offres (même entreprise) sont\n * des doublons. Calibré sur des mesures réelles (modèle multilingual-MiniLM) :\n * même offre reformulée entre sources ≈ 0.82-0.85 ; postes différents ≈ 0.12 ;\n * sans rapport ≈ 0.04. 0.80 attrape les vrais doublons avec une large marge.\n */\nconst SEMANTIC_DUP_THRESHOLD = 0.80;\n\n/** Texte canonique à embedder : MÊME construction pour candidat et offres stockées. */\nfunction embeddingText(offer) {\n  const desc = String(offer.description ?? \"\").replace(/\\s+/g, \" \").trim().slice(0, 500);\n  return [offer.title, offer.company, offer.location, desc]\n    .map((x) => String(x ?? \"\").trim())\n    .filter(Boolean)\n    .join(\" \\n \");\n}\n\n/** Similarité cosinus de deux vecteurs (0 si dimensions incompatibles ou nul). */\nfunction cosineSim(a, b) {\n  if (!Array.isArray(a) || !Array.isArray(b) || a.length !== b.length || a.length === 0) return 0;\n  let dot = 0, na = 0, nb = 0;\n  for (let i = 0; i < a.length; i++) { dot += a[i] * b[i]; na += a[i] * a[i]; nb += b[i] * b[i]; }\n  if (na === 0 || nb === 0) return 0;\n  return dot / (Math.sqrt(na) * Math.sqrt(nb));\n}\n\n/**\n * Décide si `candidate` est un doublon sémantique d'une `existing` offre, à partir\n * de leur similarité cosinus. Garde-fou : on n'écarte que si l'entreprise concorde\n * (canonicalisée) — si l'une manque, on ne bloque pas. Renvoie {isDup, reason, ...}.\n */\nfunction semanticDupDecision(similarity, candidate, existing, opts = {}) {\n  const threshold = opts.threshold ?? SEMANTIC_DUP_THRESHOLD;\n  const cA = canonCompany(candidate?.company);\n  const cB = canonCompany(existing?.company);\n  const sameCompany = cA && cB ? cA === cB : true;\n  const isDup = similarity >= threshold && sameCompany;\n  const reason = isDup\n    ? `doublon sémantique (similarité ${similarity.toFixed(3)} ≥ ${threshold}, même entreprise)`\n    : similarity < threshold\n      ? `distinct (similarité ${similarity.toFixed(3)} < ${threshold})`\n      : `similaire mais entreprise différente (« ${cA} » ≠ « ${cB} »)`;\n  return { isDup, similarity, sameCompany, threshold, reason };\n}\n\n// Préférences par défaut (repli quand le profil ne fournit pas un champ).\nconst DEFAULT_PREFS = {\n  keywords: [\"ia\", \"intelligence artificielle\", \"ml\", \"machine learning\",\n    \"data\", \"llm\", \"python\", \"développeur\", \"developpeur\", \"backend\", \"api\"],\n  juniorTerms: [\"junior\", \"débutant\", \"debutant\", \"alternance\", \"apprenti\",\n    \"stage\", \"stagiaire\", \"entry level\"],\n  seniorTerms: [\"senior\", \"confirmé\", \"confirme\", \"lead\", \"principal\",\n    \"5 ans\", \"expérimenté\", \"experimente\", \"10 ans\"],\n  remoteTerms: [\"télétravail\", \"teletravail\", \"remote\", \"hybride\", \"distanciel\"],\n  goodContracts: [\"cdi\", \"alternance\", \"cdd\", \"apprentissage\", \"freelance\"],\n};\n\nconst splitWords = (s) => norm(s).split(/[,;\\n\\s]+/).filter(Boolean);\nconst splitPhrases = (s) => String(s ?? \"\").split(/[,;\\n]+/).map(norm).filter(Boolean);\n\n/**\n * Construit les préférences de scoring À PARTIR D'UN PROFIL `search_profiles`\n * (keywords, must_have, exclusions, contract_types, seniority). C'est ce qui\n * aligne enfin le scoring sur le multi-profils (au lieu de constantes en dur).\n */\nfunction prefsFromProfile(profile = {}) {\n  const kw = [...splitWords(profile.keywords), ...splitPhrases(profile.must_have)];\n  const contracts = splitPhrases(profile.contract_types);\n  return {\n    keywords: kw.length ? kw : DEFAULT_PREFS.keywords,\n    exclusions: splitPhrases(profile.exclusions),\n    contractTypes: contracts.length ? contracts : DEFAULT_PREFS.goodContracts,\n    seniority: norm(profile.seniority),\n    remoteTerms: DEFAULT_PREFS.remoteTerms,\n    juniorTerms: DEFAULT_PREFS.juniorTerms,\n    seniorTerms: DEFAULT_PREFS.seniorTerms,\n  };\n}\n\n/** Une offre tombe-t-elle sous une exclusion du profil ? (filtre dur) */\nfunction matchesExclusions(offer, exclusions = []) {\n  if (!exclusions?.length) return false;\n  const hay = norm(`${offer.title} ${offer.description} ${offer.contract_type} ${offer.location}`);\n  return exclusions.some((x) => x && hay.includes(norm(x)));\n}\n\n// --- Filtre géographique : écarte les offres hors zone (étranger / Belgique non\n// frontalière). Les sources texte (JobSpy LinkedIn/Indeed) cherchent par nom de\n// ville sans contrainte de rayon -> elles débordent sur la Belgique (Bruxelles,\n// Gand…). France Travail (INSEE + rayon) reste propre, donc non concerné. ---\n\n// Villes frontalières tolérées (< ~30 km de Lille/Valenciennes) malgré le pays.\nconst BORDER_ALLOW = [\n  \"mouscron\", \"tournai\", \"comines\", \"menen\", \"menin\", \"mons\", \"quievrain\",\n  \"quiévrain\", \"estaimpuis\", \"kortrijk\", \"courtrai\", \"dottignies\", \"herseaux\",\n];\n\n// Marqueurs de localisation étrangère (pays/régions/villes hors zone).\nconst FOREIGN_MARKERS = [\n  /\\bbelgi(?:um|que|e)\\b/, /brussels|bruxelles/, /flemish|vlaams|flandre|flandres/,\n  /walloon|wallon(?:ie|ne)?/, /\\bghent\\b|\\bgent\\b|\\bgand\\b/,\n  /anderlecht|uccle|ixelles|schaerbeek|waterloo|merelbeke|erpe|aalst|leuven|louvain|antwerp|anvers/,\n  /\\bluxembourg\\b/, /\\bnetherlands\\b|\\bpays-bas\\b/, /\\bdeutschland\\b|\\ballemagne\\b|\\bgermany\\b/,\n];\n\n/**\n * `true` si l'offre est clairement hors zone (étranger non frontalier). Location\n * vide -> gardée (FT/text génériques « France »). Ville frontalière -> gardée.\n */\nfunction isOutOfZone(offer) {\n  const loc = norm(offer?.location);\n  if (!loc) return false;\n  if (BORDER_ALLOW.some((c) => loc.includes(c))) return false;\n  return FOREIGN_MARKERS.some((re) => re.test(loc));\n}\n\nfunction seniorityScore(hay, prefs) {\n  const isJunior = (prefs.juniorTerms ?? DEFAULT_PREFS.juniorTerms).some((t) => hay.includes(norm(t)));\n  const isSenior = (prefs.seniorTerms ?? DEFAULT_PREFS.seniorTerms).some((t) => hay.includes(norm(t)));\n  const want = prefs.seniority ?? \"\";\n  if (/junior|alternance|débutant|debutant|apprenti|stage/.test(want)) {\n    if (isJunior && !isSenior) return 20;\n    return isSenior ? 0 : 10;\n  }\n  if (/senior|confirm|lead|expérim|experim/.test(want)) {\n    if (isSenior && !isJunior) return 20;\n    return isJunior ? 5 : 10;\n  }\n  // séniorité non précisée : on pénalise surtout le franchement senior.\n  return isSenior && !isJunior ? 5 : 12;\n}\n\n/**\n * Score 0-100 selon l'adéquation au profil. Pondération (somme = 100) :\n *   mots-clés/must_have 40 · séniorité 20 · télétravail 15 ·\n *   type de contrat 15 · salaire renseigné 10\n * (la localisation est filtrée à la source / par les exclusions, plus en dur ici)\n */\nfunction scoreOffer(offer, prefs = DEFAULT_PREFS) {\n  const hay = norm(`${offer.title} ${offer.description} ${offer.contract_type}`);\n  const loc = norm(offer.location);\n  let score = 0;\n\n  const keywords = prefs.keywords ?? DEFAULT_PREFS.keywords;\n  const hits = keywords.filter((k) => hay.includes(norm(k))).length;\n  score += Math.min(40, hits * 10);\n\n  score += seniorityScore(hay, prefs);\n\n  const remoteTerms = prefs.remoteTerms ?? DEFAULT_PREFS.remoteTerms;\n  if (remoteTerms.some((t) => hay.includes(norm(t)) || loc.includes(norm(t)))) score += 15;\n\n  const contracts = prefs.contractTypes ?? prefs.goodContracts ?? DEFAULT_PREFS.goodContracts;\n  if (contracts.some((c) => hay.includes(norm(c)) || norm(offer.contract_type).includes(norm(c)))) score += 15;\n\n  if (norm(offer.salary)) score += 10;\n\n  return Math.max(0, Math.min(100, Math.round(score)));\n}\n\n/**\n * Annoter une offre : hash + score + `excluded` (true si elle tombe sous une\n * exclusion du profil — le workflow doit alors l'écarter).\n */\n\n// --- driver: Scorer + hashSource (score profil + exclusions + géo + clé de hash) ---\nconst prof = $('Boucle profils').first().json;\nconst P = prefsFromProfile(prof);\nreturn $input.all().map(({ json: o }) => o)\n  .filter((o) => !matchesExclusions(o, P.exclusions) && !isOutOfZone(o))\n  .map((o) => ({ json: { ...o, score: scoreOffer(o, P), profile_id: prof.id,\n    hashSource: [canonTitle(o.title), canonCompany(o.company), canonLocation(o.location)].join('|') } }));\n"
      },
      "id": "a1000000-0000-4000-8000-000000000051",
      "name": "Scorer + hashSource",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        360
      ]
    },
    {
      "parameters": {
        "action": "hash",
        "type": "SHA256",
        "value": "={{ $json.hashSource }}",
        "dataPropertyName": "hash",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000052",
      "name": "Hash dédup",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1340,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "// ⚠️ AUTO-GÉNÉRÉ par workflows/lib/build-nodes.mjs depuis offer-utils.mjs.\n// Ne pas éditer ici : modifie offer-utils.mjs puis relance `just build-nodes`.\n\n// Logique partagée : déduplication (hash canonicalisé) + scoring des offres\n// (0-100) piloté par le PROFIL de recherche + filtre d'exclusions.\n//\n// SOURCE UNIQUE de cette logique. n8n n'importe pas de fichier dans un nœud Code,\n// donc le jsCode des nœuds « Scorer + hashSource » et « Dédup sémantique » du 01\n// est GÉNÉRÉ d'ici par build-nodes.mjs (`just build-nodes`). Après toute modif,\n// relancer le build ; `just test` vérifie la parité (build-nodes.mjs --check).\n// Testé par offer-utils.test.mjs.\n\n/** Normalise une chaîne : minuscules, accents REPLIÉS (é->e), espaces compactés.\n * Le NFKD décompose les accents ; on retire ensuite les diacritiques combinants\n * pour que « Développeur » et « Developpeur » se canonicalisent pareil (dédup\n * accent-insensible). Sans ce retrait, l'accent combinant devenait un espace. */\nfunction norm(s) {\n  return String(s ?? \"\")\n    .toLowerCase()\n    .normalize(\"NFKD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\n// --- Canonicalisation pour la déduplication (réduit les quasi-doublons\n// inter-sources : \"(H/F)\", \"F/H\", suffixes juridiques, ponctuation, \"France\"). ---\nfunction canonTitle(t) {\n  return norm(t)\n    .replace(/\\(.*?\\)/g, \" \")               // (H/F), (CDI), ...\n    .replace(/\\b[hf]\\s*\\/\\s*[hfx]\\b/g, \" \") // h/f, f/h, h/x\n    .replace(/\\bf\\s*\\/\\s*h\\b/g, \" \")\n    .replace(/[^a-z0-9àâäéèêëîïôöùûüç ]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\nfunction canonCompany(c) {\n  return norm(c)\n    .replace(/\\b(sas|sasu|sarl|sa|eurl|inc|ltd|llc|gmbh|group|groupe)\\b/g, \" \")\n    .replace(/[^a-z0-9àâäéèêëîïôöùûüç ]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\nfunction canonLocation(l) {\n  return norm(l)\n    .replace(/\\bfrance\\b/g, \" \")\n    .replace(/[^a-zàâäéèêëîïôöùûüç ]/g, \" \") // vire les codes INSEE/dépt \"59 -\"\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\n/** Hash de déduplication : SHA256(titre|entreprise|ville) canonicalisés. */\n\n\n// --- Déduplication SÉMANTIQUE (pgvector) : attrape les quasi-doublons inter-\n// sources que le hash exact rate (titre reformulé, intitulé d'entreprise variable).\n// L'embedding est calculé par le micro-service `embeddings` (fastembed) sur ce texte.\n\n/**\n * Seuil de similarité cosinus au-delà duquel deux offres (même entreprise) sont\n * des doublons. Calibré sur des mesures réelles (modèle multilingual-MiniLM) :\n * même offre reformulée entre sources ≈ 0.82-0.85 ; postes différents ≈ 0.12 ;\n * sans rapport ≈ 0.04. 0.80 attrape les vrais doublons avec une large marge.\n */\nconst SEMANTIC_DUP_THRESHOLD = 0.80;\n\n/** Texte canonique à embedder : MÊME construction pour candidat et offres stockées. */\nfunction embeddingText(offer) {\n  const desc = String(offer.description ?? \"\").replace(/\\s+/g, \" \").trim().slice(0, 500);\n  return [offer.title, offer.company, offer.location, desc]\n    .map((x) => String(x ?? \"\").trim())\n    .filter(Boolean)\n    .join(\" \\n \");\n}\n\n/** Similarité cosinus de deux vecteurs (0 si dimensions incompatibles ou nul). */\nfunction cosineSim(a, b) {\n  if (!Array.isArray(a) || !Array.isArray(b) || a.length !== b.length || a.length === 0) return 0;\n  let dot = 0, na = 0, nb = 0;\n  for (let i = 0; i < a.length; i++) { dot += a[i] * b[i]; na += a[i] * a[i]; nb += b[i] * b[i]; }\n  if (na === 0 || nb === 0) return 0;\n  return dot / (Math.sqrt(na) * Math.sqrt(nb));\n}\n\n/**\n * Décide si `candidate` est un doublon sémantique d'une `existing` offre, à partir\n * de leur similarité cosinus. Garde-fou : on n'écarte que si l'entreprise concorde\n * (canonicalisée) — si l'une manque, on ne bloque pas. Renvoie {isDup, reason, ...}.\n */\nfunction semanticDupDecision(similarity, candidate, existing, opts = {}) {\n  const threshold = opts.threshold ?? SEMANTIC_DUP_THRESHOLD;\n  const cA = canonCompany(candidate?.company);\n  const cB = canonCompany(existing?.company);\n  const sameCompany = cA && cB ? cA === cB : true;\n  const isDup = similarity >= threshold && sameCompany;\n  const reason = isDup\n    ? `doublon sémantique (similarité ${similarity.toFixed(3)} ≥ ${threshold}, même entreprise)`\n    : similarity < threshold\n      ? `distinct (similarité ${similarity.toFixed(3)} < ${threshold})`\n      : `similaire mais entreprise différente (« ${cA} » ≠ « ${cB} »)`;\n  return { isDup, similarity, sameCompany, threshold, reason };\n}\n\n// Préférences par défaut (repli quand le profil ne fournit pas un champ).\nconst DEFAULT_PREFS = {\n  keywords: [\"ia\", \"intelligence artificielle\", \"ml\", \"machine learning\",\n    \"data\", \"llm\", \"python\", \"développeur\", \"developpeur\", \"backend\", \"api\"],\n  juniorTerms: [\"junior\", \"débutant\", \"debutant\", \"alternance\", \"apprenti\",\n    \"stage\", \"stagiaire\", \"entry level\"],\n  seniorTerms: [\"senior\", \"confirmé\", \"confirme\", \"lead\", \"principal\",\n    \"5 ans\", \"expérimenté\", \"experimente\", \"10 ans\"],\n  remoteTerms: [\"télétravail\", \"teletravail\", \"remote\", \"hybride\", \"distanciel\"],\n  goodContracts: [\"cdi\", \"alternance\", \"cdd\", \"apprentissage\", \"freelance\"],\n};\n\nconst splitWords = (s) => norm(s).split(/[,;\\n\\s]+/).filter(Boolean);\nconst splitPhrases = (s) => String(s ?? \"\").split(/[,;\\n]+/).map(norm).filter(Boolean);\n\n/**\n * Construit les préférences de scoring À PARTIR D'UN PROFIL `search_profiles`\n * (keywords, must_have, exclusions, contract_types, seniority). C'est ce qui\n * aligne enfin le scoring sur le multi-profils (au lieu de constantes en dur).\n */\nfunction prefsFromProfile(profile = {}) {\n  const kw = [...splitWords(profile.keywords), ...splitPhrases(profile.must_have)];\n  const contracts = splitPhrases(profile.contract_types);\n  return {\n    keywords: kw.length ? kw : DEFAULT_PREFS.keywords,\n    exclusions: splitPhrases(profile.exclusions),\n    contractTypes: contracts.length ? contracts : DEFAULT_PREFS.goodContracts,\n    seniority: norm(profile.seniority),\n    remoteTerms: DEFAULT_PREFS.remoteTerms,\n    juniorTerms: DEFAULT_PREFS.juniorTerms,\n    seniorTerms: DEFAULT_PREFS.seniorTerms,\n  };\n}\n\n/** Une offre tombe-t-elle sous une exclusion du profil ? (filtre dur) */\nfunction matchesExclusions(offer, exclusions = []) {\n  if (!exclusions?.length) return false;\n  const hay = norm(`${offer.title} ${offer.description} ${offer.contract_type} ${offer.location}`);\n  return exclusions.some((x) => x && hay.includes(norm(x)));\n}\n\n// --- Filtre géographique : écarte les offres hors zone (étranger / Belgique non\n// frontalière). Les sources texte (JobSpy LinkedIn/Indeed) cherchent par nom de\n// ville sans contrainte de rayon -> elles débordent sur la Belgique (Bruxelles,\n// Gand…). France Travail (INSEE + rayon) reste propre, donc non concerné. ---\n\n// Villes frontalières tolérées (< ~30 km de Lille/Valenciennes) malgré le pays.\nconst BORDER_ALLOW = [\n  \"mouscron\", \"tournai\", \"comines\", \"menen\", \"menin\", \"mons\", \"quievrain\",\n  \"quiévrain\", \"estaimpuis\", \"kortrijk\", \"courtrai\", \"dottignies\", \"herseaux\",\n];\n\n// Marqueurs de localisation étrangère (pays/régions/villes hors zone).\nconst FOREIGN_MARKERS = [\n  /\\bbelgi(?:um|que|e)\\b/, /brussels|bruxelles/, /flemish|vlaams|flandre|flandres/,\n  /walloon|wallon(?:ie|ne)?/, /\\bghent\\b|\\bgent\\b|\\bgand\\b/,\n  /anderlecht|uccle|ixelles|schaerbeek|waterloo|merelbeke|erpe|aalst|leuven|louvain|antwerp|anvers/,\n  /\\bluxembourg\\b/, /\\bnetherlands\\b|\\bpays-bas\\b/, /\\bdeutschland\\b|\\ballemagne\\b|\\bgermany\\b/,\n];\n\n/**\n * `true` si l'offre est clairement hors zone (étranger non frontalier). Location\n * vide -> gardée (FT/text génériques « France »). Ville frontalière -> gardée.\n */\nfunction isOutOfZone(offer) {\n  const loc = norm(offer?.location);\n  if (!loc) return false;\n  if (BORDER_ALLOW.some((c) => loc.includes(c))) return false;\n  return FOREIGN_MARKERS.some((re) => re.test(loc));\n}\n\nfunction seniorityScore(hay, prefs) {\n  const isJunior = (prefs.juniorTerms ?? DEFAULT_PREFS.juniorTerms).some((t) => hay.includes(norm(t)));\n  const isSenior = (prefs.seniorTerms ?? DEFAULT_PREFS.seniorTerms).some((t) => hay.includes(norm(t)));\n  const want = prefs.seniority ?? \"\";\n  if (/junior|alternance|débutant|debutant|apprenti|stage/.test(want)) {\n    if (isJunior && !isSenior) return 20;\n    return isSenior ? 0 : 10;\n  }\n  if (/senior|confirm|lead|expérim|experim/.test(want)) {\n    if (isSenior && !isJunior) return 20;\n    return isJunior ? 5 : 10;\n  }\n  // séniorité non précisée : on pénalise surtout le franchement senior.\n  return isSenior && !isJunior ? 5 : 12;\n}\n\n/**\n * Score 0-100 selon l'adéquation au profil. Pondération (somme = 100) :\n *   mots-clés/must_have 40 · séniorité 20 · télétravail 15 ·\n *   type de contrat 15 · salaire renseigné 10\n * (la localisation est filtrée à la source / par les exclusions, plus en dur ici)\n */\nfunction scoreOffer(offer, prefs = DEFAULT_PREFS) {\n  const hay = norm(`${offer.title} ${offer.description} ${offer.contract_type}`);\n  const loc = norm(offer.location);\n  let score = 0;\n\n  const keywords = prefs.keywords ?? DEFAULT_PREFS.keywords;\n  const hits = keywords.filter((k) => hay.includes(norm(k))).length;\n  score += Math.min(40, hits * 10);\n\n  score += seniorityScore(hay, prefs);\n\n  const remoteTerms = prefs.remoteTerms ?? DEFAULT_PREFS.remoteTerms;\n  if (remoteTerms.some((t) => hay.includes(norm(t)) || loc.includes(norm(t)))) score += 15;\n\n  const contracts = prefs.contractTypes ?? prefs.goodContracts ?? DEFAULT_PREFS.goodContracts;\n  if (contracts.some((c) => hay.includes(norm(c)) || norm(offer.contract_type).includes(norm(c)))) score += 15;\n\n  if (norm(offer.salary)) score += 10;\n\n  return Math.max(0, Math.min(100, Math.round(score)));\n}\n\n/**\n * Annoter une offre : hash + score + `excluded` (true si elle tombe sous une\n * exclusion du profil — le workflow doit alors l'écarter).\n */\n\n// --- driver: Dédup sémantique intra-lot (embeddings + cosinus, tolérant) ---\n// Attache aussi embedding + company_canon à chaque offre retenue : l'INSERT\n// aval les persiste (pgvector) et écarte les quasi-doublons DÉJÀ EN BASE\n// (anti-join sur distance cosinus <= 1 - SEMANTIC_DUP_THRESHOLD, même entreprise).\nconst items = $input.all().map((i) => i.json);\nif (!items.length) return [];\nconst withMeta = (o, v) => ({ ...o,\n  company_canon: canonCompany(o.company || ''),\n  embedding: Array.isArray(v) ? '[' + v.join(',') + ']' : '' });\nconst url = ($env.EMBEDDINGS_API_URL || 'http://embeddings:8002') + '/embed';\nlet vecs;\ntry {\n  const resp = await this.helpers.httpRequest({ method: 'POST', url, body: { texts: items.map(embeddingText) }, json: true });\n  vecs = resp.embeddings;\n} catch (e) { return items.map((json) => ({ json: withMeta(json) })); }\nif (!Array.isArray(vecs) || vecs.length !== items.length) return items.map((json) => ({ json: withMeta(json) }));\nconst kept = [], keptVecs = [];\nlet dropped = 0;\nfor (let i = 0; i < items.length; i++) {\n  const v = vecs[i];\n  let dup = false;\n  for (let k = 0; k < kept.length; k++) {\n    if (semanticDupDecision(cosineSim(v, keptVecs[k]), items[i], kept[k]).isDup) { dup = true; break; }\n  }\n  if (dup) { dropped++; continue; }\n  kept.push(items[i]); keptVecs.push(v);\n}\nconsole.log(`Dedup semantique : ${dropped} quasi-doublon(s) ecarte(s) sur ${items.length}.`);\nreturn kept.map((json, k) => ({ json: withMeta(json, keptVecs[k]) }));\n"
      },
      "id": "a1000000-0000-4000-8000-000000000065",
      "name": "Dédup sémantique",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Récap technique par profil -> canal jobs-log (DISCORD_WEBHOOK_LOG).\n// Garde : si le webhook log n'est pas configuré, on ne poste rien.\nif (!$env.DISCORD_WEBHOOK_LOG) return [];\nconst prof = $('Boucle profils').first().json;\nconst recup = $('Fusionner sources').all().length;\nconst retenues = $('Scorer + hashSource').all().length;\nconst apresDedup = $input.all().length;\nconst ecartees = Math.max(0, recup - retenues);\nconst doublons = Math.max(0, retenues - apresDedup);\nconst msg = `🧾 [${prof.name || 'profil'}] ${recup} récupérées · ${ecartees} écartées (exclusions/géo) · ${doublons} doublons sémantiques · ${apresDedup} retenues → insertion`;\nreturn [{ json: { logMsg: msg } }];"
      },
      "id": "a1000000-0000-4000-8000-000000000066",
      "name": "Récap jobs-log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_LOG }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { content: $json.logMsg } }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "id": "a1000000-0000-4000-8000-000000000067",
      "name": "Discord jobs-log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1670,
        520
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Dédup inter-runs : écarte l'offre si un quasi-doublon (distance cosinus <= 0.20,\n-- soit similarité >= SEMANTIC_DUP_THRESHOLD = 0.80 d'offer-utils.mjs) de la MÊME\n-- entreprise canonique existe déjà en base. Hash exact : ON CONFLICT DO NOTHING.\n-- RETURNING = seulement les offres réellement insérées (l'aval ne voit qu'elles).\nINSERT INTO offers (source, source_id, hash, title, company, location, contract_type, salary, description, url, score, profile_id, embedding, company_canon)\nSELECT $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, NULLIF($13, '')::vector, NULLIF($14, '')\nWHERE NOT EXISTS (\n  SELECT 1 FROM offers o\n  WHERE o.company_canon = NULLIF($14, '')\n    AND o.embedding IS NOT NULL\n    AND (o.embedding <=> NULLIF($13, '')::vector) <= 0.20\n)\nON CONFLICT (hash) DO NOTHING\nRETURNING id, source, source_id, hash, title, company, location, contract_type, salary, description, url, score, profile_id;",
        "options": {
          "queryReplacement": "={{ [$json.source, $json.source_id, $json.hash, $json.title, $json.company, $json.location, $json.contract_type, $json.salary, $json.description, $json.url, $json.score, $json.profile_id, $json.embedding || '', $json.company_canon || ''] }}"
        }
      },
      "id": "a1000000-0000-4000-8000-000000000053",
      "name": "Insert offers (dédup)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1560,
        360
      ],
      "credentials": {
        "postgres": {
          "id": "REMPLACER",
          "name": "Postgres job-hunter"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ⚠️ AUTO-GÉNÉRÉ par workflows/lib/build-nodes.mjs depuis llm-scoring.mjs.\n// Ne pas éditer ici : modifie llm-scoring.mjs puis relance `just build-nodes`.\n\n// Scoring hybride : le score déterministe (offer-utils.scoreOffer) sert de\n// pré-filtre cheap sur TOUTES les offres ; on ne fait affiner par le LLM que le\n// top-N, pour un score de pertinence nuancé + une justification.\n//\n// Pur (pas d'appel réseau ici) : construit les messages et fusionne la réponse.\n// Testé par llm-scoring.test.mjs. Dans n8n : nœuds Code (construction / fusion)\n// autour d'un nœud HTTP DeepSeek.\n\nconst clamp = (n) => Math.max(0, Math.min(100, Math.round(Number(n) || 0)));\n\n/** Garde les N meilleures offres selon le score déterministe (tri stable desc). */\nfunction selectTopN(offers, n = 20) {\n  return [...offers]\n    .map((o, i) => ({ o, i }))\n    .sort((a, b) => (b.o.score ?? 0) - (a.o.score ?? 0) || a.i - b.i)\n    .slice(0, n)\n    .map(({ o }) => o);\n}\n\n/**\n * Construit les messages DeepSeek pour scorer un lot d'offres vis-à-vis d'un\n * profil de recherche, avec ses critères `must_have` / `exclusions` (barème\n * inspiré du pipeline Make réel). Retour prêt pour /chat/completions.\n * @param {object|string} profile  { must_have, exclusions } (ou un texte libre)\n * @param {object[]} offers        offres (title, company, location, description)\n */\nfunction buildScoringMessages(profile, offers) {\n  const p = typeof profile === \"string\" ? { must_have: profile, exclusions: \"\" } : (profile || {});\n  const system =\n    \"Tu es un expert en recrutement qui évalue la PERTINENCE d'offres d'emploi \" +\n    \"pour un profil donné. Barème : 90-100 = correspond très bien aux critères \" +\n    \"indispensables et aucune exclusion ; 50-89 = correspond partiellement ; \" +\n    \"moins de 50 = hors sujet ou contient un critère d'exclusion. Tu réponds \" +\n    \"UNIQUEMENT en JSON valide, sans texte autour, au format \" +\n    \"{\\\"scores\\\":[{\\\"i\\\":<index>,\\\"score\\\":<0-100>,\\\"reason\\\":\\\"<une phrase>\\\"}]}. \" +\n    \"N'invente rien.\";\n  const list = offers\n    .map((o, i) =>\n      `#${i} — ${o.title || \"?\"} @ ${o.company || \"?\"} (${o.location || \"?\"})\\n` +\n      `${String(o.description || \"\").slice(0, 600)}`,\n    )\n    .join(\"\\n\\n\");\n  const user =\n    `Critères indispensables recherchés : ${p.must_have || \"(non précisés)\"}\\n` +\n    `Critères d'exclusion (à pénaliser fortement) : ${p.exclusions || \"(aucun)\"}\\n\\n` +\n    `OFFRES À SCORER (renvoie un score par index):\\n${list}`;\n  return {\n    messages: [\n      { role: \"system\", content: system },\n      { role: \"user\", content: user },\n    ],\n    response_format: { type: \"json_object\" },\n  };\n}\n\n/**\n * Fusionne la réponse LLM dans les offres : ajoute `score` (= score LLM) et\n * `score_reason`. Robuste : si la réponse est invalide ou une offre n'a pas de\n * score LLM, on conserve le score déterministe existant.\n * @param {string|object} response  contenu JSON renvoyé par le modèle\n * @param {object[]} offers         le MÊME lot que celui passé à buildScoringMessages\n */\nfunction parseScoringResponse(response, offers) {\n  let data;\n  try {\n    data = typeof response === \"string\" ? JSON.parse(response) : response;\n  } catch {\n    return offers.map((o) => ({ ...o })); // réponse illisible -> on garde tout\n  }\n  const byIndex = new Map();\n  for (const s of data?.scores ?? []) {\n    if (s && Number.isInteger(s.i)) byIndex.set(s.i, s);\n  }\n  return offers.map((o, i) => {\n    const s = byIndex.get(i);\n    if (!s || s.score == null) return { ...o }; // pas de score LLM -> fallback\n    return { ...o, score: clamp(s.score), score_reason: String(s.reason ?? \"\") };\n  });\n}\n\n// --- driver: Préparer scoring LLM (top-N + messages DeepSeek, critères du profil) ---\nconst prof = $('Boucle profils').first().json;\nconst all = $input.all().map((i) => i.json);\nconst offers = selectTopN(all, 20);\nconst { messages } = buildScoringMessages(prof, offers);\nreturn [{ json: { messages, offers, threshold: prof.score_threshold || 60 } }];\n"
      },
      "id": "a1000000-0000-4000-8000-000000000056",
      "name": "Préparer scoring LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DEEPSEEK_BASE_URL }}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.DEEPSEEK_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.DEEPSEEK_MODEL }}\",\n  \"messages\": {{ JSON.stringify($json.messages) }},\n  \"response_format\": { \"type\": \"json_object\" },\n  \"temperature\": 0.2\n}",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000057",
      "name": "DeepSeek scoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "// ⚠️ AUTO-GÉNÉRÉ par workflows/lib/build-nodes.mjs depuis llm-scoring.mjs.\n// Ne pas éditer ici : modifie llm-scoring.mjs puis relance `just build-nodes`.\n\n// Scoring hybride : le score déterministe (offer-utils.scoreOffer) sert de\n// pré-filtre cheap sur TOUTES les offres ; on ne fait affiner par le LLM que le\n// top-N, pour un score de pertinence nuancé + une justification.\n//\n// Pur (pas d'appel réseau ici) : construit les messages et fusionne la réponse.\n// Testé par llm-scoring.test.mjs. Dans n8n : nœuds Code (construction / fusion)\n// autour d'un nœud HTTP DeepSeek.\n\nconst clamp = (n) => Math.max(0, Math.min(100, Math.round(Number(n) || 0)));\n\n/** Garde les N meilleures offres selon le score déterministe (tri stable desc). */\nfunction selectTopN(offers, n = 20) {\n  return [...offers]\n    .map((o, i) => ({ o, i }))\n    .sort((a, b) => (b.o.score ?? 0) - (a.o.score ?? 0) || a.i - b.i)\n    .slice(0, n)\n    .map(({ o }) => o);\n}\n\n/**\n * Construit les messages DeepSeek pour scorer un lot d'offres vis-à-vis d'un\n * profil de recherche, avec ses critères `must_have` / `exclusions` (barème\n * inspiré du pipeline Make réel). Retour prêt pour /chat/completions.\n * @param {object|string} profile  { must_have, exclusions } (ou un texte libre)\n * @param {object[]} offers        offres (title, company, location, description)\n */\nfunction buildScoringMessages(profile, offers) {\n  const p = typeof profile === \"string\" ? { must_have: profile, exclusions: \"\" } : (profile || {});\n  const system =\n    \"Tu es un expert en recrutement qui évalue la PERTINENCE d'offres d'emploi \" +\n    \"pour un profil donné. Barème : 90-100 = correspond très bien aux critères \" +\n    \"indispensables et aucune exclusion ; 50-89 = correspond partiellement ; \" +\n    \"moins de 50 = hors sujet ou contient un critère d'exclusion. Tu réponds \" +\n    \"UNIQUEMENT en JSON valide, sans texte autour, au format \" +\n    \"{\\\"scores\\\":[{\\\"i\\\":<index>,\\\"score\\\":<0-100>,\\\"reason\\\":\\\"<une phrase>\\\"}]}. \" +\n    \"N'invente rien.\";\n  const list = offers\n    .map((o, i) =>\n      `#${i} — ${o.title || \"?\"} @ ${o.company || \"?\"} (${o.location || \"?\"})\\n` +\n      `${String(o.description || \"\").slice(0, 600)}`,\n    )\n    .join(\"\\n\\n\");\n  const user =\n    `Critères indispensables recherchés : ${p.must_have || \"(non précisés)\"}\\n` +\n    `Critères d'exclusion (à pénaliser fortement) : ${p.exclusions || \"(aucun)\"}\\n\\n` +\n    `OFFRES À SCORER (renvoie un score par index):\\n${list}`;\n  return {\n    messages: [\n      { role: \"system\", content: system },\n      { role: \"user\", content: user },\n    ],\n    response_format: { type: \"json_object\" },\n  };\n}\n\n/**\n * Fusionne la réponse LLM dans les offres : ajoute `score` (= score LLM) et\n * `score_reason`. Robuste : si la réponse est invalide ou une offre n'a pas de\n * score LLM, on conserve le score déterministe existant.\n * @param {string|object} response  contenu JSON renvoyé par le modèle\n * @param {object[]} offers         le MÊME lot que celui passé à buildScoringMessages\n */\nfunction parseScoringResponse(response, offers) {\n  let data;\n  try {\n    data = typeof response === \"string\" ? JSON.parse(response) : response;\n  } catch {\n    return offers.map((o) => ({ ...o })); // réponse illisible -> on garde tout\n  }\n  const byIndex = new Map();\n  for (const s of data?.scores ?? []) {\n    if (s && Number.isInteger(s.i)) byIndex.set(s.i, s);\n  }\n  return offers.map((o, i) => {\n    const s = byIndex.get(i);\n    if (!s || s.score == null) return { ...o }; // pas de score LLM -> fallback\n    return { ...o, score: clamp(s.score), score_reason: String(s.reason ?? \"\") };\n  });\n}\n\n// --- driver: Fusion scores (réponse LLM -> score + score_reason, fallback déterministe) ---\nconst raw = $input.first().json.choices?.[0]?.message?.content ?? '';\nconst offers = $('Préparer scoring LLM').first().json.offers || [];\nreturn parseScoringResponse(raw, offers).map((o) => ({ json: o }));\n"
      },
      "id": "a1000000-0000-4000-8000-000000000058",
      "name": "Fusion scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        360
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE offers SET score = $1, score_reason = $2 WHERE hash = $3 RETURNING *;",
        "options": {
          "queryReplacement": "={{ [$json.score, $json.score_reason || '', $json.hash] }}"
        }
      },
      "id": "a1000000-0000-4000-8000-000000000059",
      "name": "MAJ score (LLM)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2440,
        360
      ],
      "credentials": {
        "postgres": {
          "id": "REMPLACER",
          "name": "Postgres job-hunter"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.score }}",
              "rightValue": "={{ $('Boucle profils').first().json.score_threshold }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000054",
      "name": "Score suffisant ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2660,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_ALERTS }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"content\": `🆕 **${$json.title}** — ${$json.company || 'Entreprise inconnue'}\\n[${$('Boucle profils').first().json.name}] Score ${$json.score} · ${$json.location} · ${$json.source}${$json.score_reason ? '\\n💡 ' + $json.score_reason : ''}\\n${$json.url}\\n✅ Générer: ${$env.WEBHOOK_URL}webhook/offer-status?hash=${$json.hash}&action=selected${$env.WEBHOOK_SECRET ? '&token=' + encodeURIComponent($env.WEBHOOK_SECRET) : ''}\\n🚫 Ignorer: ${$env.WEBHOOK_URL}webhook/offer-status?hash=${$json.hash}&action=ignored${$env.WEBHOOK_SECRET ? '&token=' + encodeURIComponent($env.WEBHOOK_SECRET) : ''}` } }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "id": "a1000000-0000-4000-8000-000000000055",
      "name": "Discord jobs-alerts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        260
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    }
  ],
  "connections": {
    "Tous les jours 8h": {
      "main": [
        [
          {
            "node": "Profils actifs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profils actifs": {
      "main": [
        [
          {
            "node": "Boucle profils",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boucle profils": {
      "main": [
        [],
        [
          {
            "node": "FT - token",
            "type": "main",
            "index": 0
          },
          {
            "node": "JobSpy - search",
            "type": "main",
            "index": 0
          },
          {
            "node": "LBA - search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FT - token": {
      "main": [
        [
          {
            "node": "FT - search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FT - search": {
      "main": [
        [
          {
            "node": "norm FT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "norm FT": {
      "main": [
        [
          {
            "node": "Fusionner sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JobSpy - search": {
      "main": [
        [
          {
            "node": "norm JobSpy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "norm JobSpy": {
      "main": [
        [
          {
            "node": "Fusionner sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "LBA - search": {
      "main": [
        [
          {
            "node": "norm LBA",
            "type": "main",
            "index": 0
          },
          {
            "node": "norm LBA recruteurs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "norm LBA": {
      "main": [
        [
          {
            "node": "Fusionner sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "norm LBA recruteurs": {
      "main": [
        [
          {
            "node": "Upsert entreprise (spontanée)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert entreprise (spontanée)": {
      "main": [
        [
          {
            "node": "Discord spontanée",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusionner sources": {
      "main": [
        [
          {
            "node": "Scorer + hashSource",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scorer + hashSource": {
      "main": [
        [
          {
            "node": "Hash dédup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash dédup": {
      "main": [
        [
          {
            "node": "Dédup sémantique",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert offers (dédup)": {
      "main": [
        [
          {
            "node": "Préparer scoring LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer scoring LLM": {
      "main": [
        [
          {
            "node": "DeepSeek scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek scoring": {
      "main": [
        [
          {
            "node": "Fusion scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion scores": {
      "main": [
        [
          {
            "node": "MAJ score (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAJ score (LLM)": {
      "main": [
        [
          {
            "node": "Score suffisant ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score suffisant ?": {
      "main": [
        [
          {
            "node": "Discord jobs-alerts",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Discord jobs-alerts": {
      "main": [
        [
          {
            "node": "Boucle profils",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dédup sémantique": {
      "main": [
        [
          {
            "node": "Insert offers (dédup)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Récap jobs-log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Récap jobs-log": {
      "main": [
        [
          {
            "node": "Discord jobs-log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "wf08notiferreurs"
  },
  "active": false,
  "meta": {
    "note": "01 multi-profils — sources retenues : France Travail (officiel, géoloc INSEE+rayon) + JobSpy (LinkedIn/Indeed FR/Glassdoor) + La Bonne Alternance (offres alternance + recruteurs spontanés). Adzuna/SerpApi/JSearch/WTTJ retirés (doublons/obsolètes). Boucle profils -> 3 collectes -> Merge(3) -> score -> hash -> INSERT (dédup hash + dédup sémantique inter-runs via pgvector, RETURNING only-new) -> affinage DeepSeek -> seuil -> Discord alerts ; LBA recruteurs -> upsert companies + Discord candidature spontanée. credentials Postgres = pgjobhunter0001. Liens d'action Discord signés par WEBHOOK_SECRET (optionnel, vérifié par 03/05/06). Nœuds Discord : throttle 1 msg/2 s + retry (le webhook Discord limite le débit, 429 sinon)."
  }
}