workflows/02-agent-candidature.json
{
  "id": "wf02agentcandid",
  "name": "02 - Agent candidature DeepSeek",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Générer une candidature",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Titre du poste",
              "requiredField": true
            },
            {
              "fieldLabel": "Entreprise",
              "requiredField": true
            },
            {
              "fieldLabel": "Description de l'offre",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Infos entreprise (site, valeurs, stack)",
              "fieldType": "textarea"
            }
          ]
        }
      },
      "id": "trigger-form",
      "name": "Formulaire offre",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        -200,
        200
      ]
    },
    {
      "parameters": {},
      "id": "trigger-exec",
      "name": "Appel orchestration",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalise l'entrée : formulaire (test), orchestration OFFRE, ou SPONTANÉE.\nconst j = $input.first().json;\nconst fromForm = j['Titre du poste'] !== undefined;\nif (fromForm) {\n  return [{ json: { offer_id: null, spontaneous: false, title: j['Titre du poste']||'', company: j['Entreprise']||'', location: '', description: j[\"Description de l'offre\"]||'', company_info: j['Infos entreprise (site, valeurs, stack)']||'' } }];\n}\nconst spontaneous = j.spontaneous === true;\nreturn [{ json: {\n  offer_id: spontaneous ? null : (j.offer_id ?? null),\n  spontaneous,\n  title: spontaneous ? 'Candidature spontanée' : (j.title||''),\n  company: j.company||'',\n  location: j.location||'',\n  description: spontaneous ? ('CANDIDATURE SPONTANÉE — aucune offre publiée. Choisis IMPÉRATIVEMENT le template \"candidature-spontanee\" et rédige une accroche disant pourquoi CETTE entreprise (secteur, valeurs, produits). Infos connues: ' + (j.description||'(peu d info)')) : (j.description||''),\n  company_info: j.company_info||'',\n} }];"
      },
      "id": "normalize-input",
      "name": "Normaliser entrée",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AGENT_API_URL }}/agent/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-UI-Token",
              "value": "={{ $env.UI_TOKEN || '' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": {{ JSON.stringify($('Normaliser entrée').first().json.title) }},\n  \"company\": {{ JSON.stringify($('Normaliser entrée').first().json.company) }},\n  \"location\": {{ JSON.stringify($('Normaliser entrée').first().json.location || '') }},\n  \"description\": {{ JSON.stringify($('Normaliser entrée').first().json.description) }},\n  \"company_info\": {{ JSON.stringify($('Normaliser entrée').first().json.company_info || '') }},\n  \"spontaneous\": {{ $('Normaliser entrée').first().json.spontaneous === true }}\n}",
        "options": {}
      },
      "id": "call-deepseek",
      "name": "Appel agent LangGraph",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// La réponse du service agent-langgraph EST déjà l'objet §6 (cf. agent/schema.py).\n// On garde des défauts défensifs (parité avec l'ancien parser DeepSeek).\nconst p = { ...$input.first().json };\nif (typeof p.score !== 'number') p.score = 0;\nif (!p.lettre || typeof p.lettre !== 'object') p.lettre = { template: '', accroche: '' };\nif (!p.personnalisation_cv || typeof p.personnalisation_cv !== 'object') {\n  p.personnalisation_cv = { summary: '', highlight_skills: [], highlight_projects: [], highlight_experiences: [], hidden_sections: [] };\n}\nreturn [{ json: p }];"
      },
      "id": "parse-output",
      "name": "Parser sortie agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ (String($('Normaliser entrée').first().json.offer_id ?? '') !== '' || $('Normaliser entrée').first().json.spontaneous === true) ? 'yes' : '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-offer",
      "name": "Offre liée ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ⚠️ AUTO-GÉNÉRÉ par workflows/lib/build-nodes.mjs depuis company-enrichment.mjs.\n// Ne pas éditer ici : modifie company-enrichment.mjs puis relance `just build-nodes`.\n\n// Enrichissement entreprise GROUNDED : on résume une entreprise UNIQUEMENT à\n// partir d'un texte source réel (description de l'offre, éventuellement contenu\n// du site). Garde-fou : le modèle ne doit RIEN inventer — si une info n'est pas\n// dans le texte, il laisse vide. Alimente companies.sector / companies.ai_summary.\n//\n// Pur (pas d'appel réseau) : construit les messages et parse la réponse.\n// Testé par company-enrichment.test.mjs.\n\n/**\n * Messages DeepSeek pour une fiche entreprise synthétique et factuelle.\n * @param {string} companyName\n * @param {string} sourceText  texte réel (offre + site) — seule source autorisée\n */\nfunction buildEnrichmentMessages(companyName, sourceText) {\n  const system =\n    \"Tu produis une fiche entreprise SYNTHÉTIQUE à partir UNIQUEMENT du texte \" +\n    \"fourni. Tu n'inventes RIEN : si une information n'est pas présente ou \" +\n    \"déductible du texte, tu laisses la valeur vide (\\\"\\\"). Tu réponds \" +\n    \"UNIQUEMENT en JSON valide au format {\\\"sector\\\":\\\"\\\",\\\"ai_summary\\\":\\\"\\\"}. \" +\n    \"ai_summary : 1-2 phrases neutres, factuelles, sans superlatifs.\";\n  const user =\n    `ENTREPRISE: ${companyName || \"(inconnue)\"}\\n\\n` +\n    `TEXTE SOURCE (ne te sers QUE de ça):\\n${String(sourceText || \"\").slice(0, 2000)}`;\n  return {\n    messages: [\n      { role: \"system\", content: system },\n      { role: \"user\", content: user },\n    ],\n    response_format: { type: \"json_object\" },\n  };\n}\n\n/** Parse la réponse ; toujours un objet { sector, ai_summary } (vides si KO). */\nfunction parseEnrichmentResponse(response) {\n  let data;\n  try {\n    data = typeof response === \"string\" ? JSON.parse(response) : response;\n  } catch {\n    return { sector: \"\", ai_summary: \"\" };\n  }\n  return {\n    sector: String(data?.sector ?? \"\").trim(),\n    ai_summary: String(data?.ai_summary ?? \"\").trim(),\n  };\n}\n\n// --- driver: Préparer enrichissement (fiche entreprise GROUNDED, texte de l'offre seul) ---\nconst entree = $('Normaliser entrée').first().json;\nconst src = (entree.company_info || '') + '\\n' + (entree.description || '');\nconst { messages } = buildEnrichmentMessages(entree.company || '', src);\nreturn [{ json: { messages } }];\n"
      },
      "id": "prep-enrich",
      "name": "Préparer enrichissement",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DEEPSEEK_BASE_URL }}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.DEEPSEEK_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.DEEPSEEK_MODEL }}\",\n  \"messages\": {{ JSON.stringify($json.messages) }},\n  \"response_format\": { \"type\": \"json_object\" },\n  \"temperature\": 0.2\n}",
        "options": {}
      },
      "id": "call-enrich",
      "name": "DeepSeek entreprise",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "// ⚠️ AUTO-GÉNÉRÉ par workflows/lib/build-nodes.mjs depuis company-enrichment.mjs.\n// Ne pas éditer ici : modifie company-enrichment.mjs puis relance `just build-nodes`.\n\n// Enrichissement entreprise GROUNDED : on résume une entreprise UNIQUEMENT à\n// partir d'un texte source réel (description de l'offre, éventuellement contenu\n// du site). Garde-fou : le modèle ne doit RIEN inventer — si une info n'est pas\n// dans le texte, il laisse vide. Alimente companies.sector / companies.ai_summary.\n//\n// Pur (pas d'appel réseau) : construit les messages et parse la réponse.\n// Testé par company-enrichment.test.mjs.\n\n/**\n * Messages DeepSeek pour une fiche entreprise synthétique et factuelle.\n * @param {string} companyName\n * @param {string} sourceText  texte réel (offre + site) — seule source autorisée\n */\nfunction buildEnrichmentMessages(companyName, sourceText) {\n  const system =\n    \"Tu produis une fiche entreprise SYNTHÉTIQUE à partir UNIQUEMENT du texte \" +\n    \"fourni. Tu n'inventes RIEN : si une information n'est pas présente ou \" +\n    \"déductible du texte, tu laisses la valeur vide (\\\"\\\"). Tu réponds \" +\n    \"UNIQUEMENT en JSON valide au format {\\\"sector\\\":\\\"\\\",\\\"ai_summary\\\":\\\"\\\"}. \" +\n    \"ai_summary : 1-2 phrases neutres, factuelles, sans superlatifs.\";\n  const user =\n    `ENTREPRISE: ${companyName || \"(inconnue)\"}\\n\\n` +\n    `TEXTE SOURCE (ne te sers QUE de ça):\\n${String(sourceText || \"\").slice(0, 2000)}`;\n  return {\n    messages: [\n      { role: \"system\", content: system },\n      { role: \"user\", content: user },\n    ],\n    response_format: { type: \"json_object\" },\n  };\n}\n\n/** Parse la réponse ; toujours un objet { sector, ai_summary } (vides si KO). */\nfunction parseEnrichmentResponse(response) {\n  let data;\n  try {\n    data = typeof response === \"string\" ? JSON.parse(response) : response;\n  } catch {\n    return { sector: \"\", ai_summary: \"\" };\n  }\n  return {\n    sector: String(data?.sector ?? \"\").trim(),\n    ai_summary: String(data?.ai_summary ?? \"\").trim(),\n  };\n}\n\n// --- driver: Parser entreprise (réponse LLM -> { sector, ai_summary }, vides si KO) ---\nconst raw = $input.first().json.choices?.[0]?.message?.content ?? '';\nreturn [{ json: parseEnrichmentResponse(raw) }];\n"
      },
      "id": "parse-enrich",
      "name": "Parser entreprise",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        120
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO companies (name, sector, ai_summary, last_updated) VALUES ($1, NULLIF($2,''), NULLIF($3,''), now()) ON CONFLICT (name) DO UPDATE SET sector = COALESCE(NULLIF(EXCLUDED.sector,''), companies.sector), ai_summary = COALESCE(NULLIF(EXCLUDED.ai_summary,''), companies.ai_summary), last_updated = now() RETURNING id;",
        "options": {
          "queryReplacement": "={{ [$('Normaliser entrée').first().json.company, $json.sector, $json.ai_summary] }}"
        }
      },
      "id": "upsert-company",
      "name": "Upsert entreprise",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1840,
        120
      ],
      "credentials": {
        "postgres": {
          "id": "REMPLACER",
          "name": "Postgres job-hunter"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "applications"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "offer_id": "={{ $('Normaliser entrée').first().json.offer_id ?? null }}",
            "company_id": "={{ $('Upsert entreprise').first().json.id }}",
            "status": "draft",
            "notes": "={{ $('Normaliser entrée').first().json.spontaneous ? 'Candidature spontanée' : ('score ' + ($('Parser sortie agent').first().json.score) + ' — ' + ($('Parser sortie agent').first().json.justification_score || '')) }}",
            "kind": "={{ $('Normaliser entrée').first().json.spontaneous ? 'spontaneous' : 'offer' }}"
          }
        },
        "options": {}
      },
      "id": "insert-application",
      "name": "Créer candidature (draft)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1560,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "REMPLACER",
          "name": "Postgres job-hunter"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE offers SET status = 'applied' WHERE id = $1 RETURNING id, status;",
        "options": {
          "queryReplacement": "={{ $('Normaliser entrée').first().json.offer_id }}"
        }
      },
      "id": "offer-applied",
      "name": "Offre -> applied",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2480,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "REMPLACER",
          "name": "Postgres job-hunter"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ⚠️ AUTO-GÉNÉRÉ par workflows/lib/build-nodes.mjs depuis render-payloads.mjs.\n// Ne pas éditer ici : modifie render-payloads.mjs puis relance `just build-nodes`.\n\n// Construit les corps de requête envoyés au micro-service de rendu (services\n// render / cv/server.mjs) à partir de la sortie de l'agent DeepSeek (§6) et de\n// l'entrée normalisée du workflow 02.\n//\n// Logique PURE (aucune dépendance n8n) : le nœud Code « Préparer rendu » du\n// workflow 02 reprend cette logique, et ce module la teste hors stack.\n//\n// Garde-fou : on ne fait que RECOPIER ce que l'agent a produit (highlight_*,\n// summary, lettre, objet). On n'invente rien et on ne reformule rien.\n\nconst asArray = (v) => (Array.isArray(v) ? v : []);\nconst asString = (v) => (v == null ? \"\" : String(v));\n\n/**\n * Corps de POST /cv : id de candidature + bloc de personnalisation structuré.\n * @param {{application_id:(string|number), personnalisation_cv?:object}} input\n */\nfunction buildCvPayload({ application_id, personnalisation_cv } = {}) {\n  const p = personnalisation_cv && typeof personnalisation_cv === \"object\" ? personnalisation_cv : {};\n  return {\n    application_id: asString(application_id),\n    personalization: {\n      summary: asString(p.summary),\n      highlight_skills: asArray(p.highlight_skills),\n      highlight_projects: asArray(p.highlight_projects),\n      highlight_experiences: asArray(p.highlight_experiences),\n      hidden_sections: asArray(p.hidden_sections),\n      hidden_skills: asArray(p.hidden_skills),\n    },\n  };\n}\n\n/**\n * Corps de POST /letter (assemblage DÉTERMINISTE) : id + destinataire + template\n * choisi + accroche (seul texte de l'agent) + variables de substitution. Le\n * service charge le corps FIGÉ du template, y colle l'accroche et résout les\n * placeholders ; l'expéditeur vient de cv/profile.json. `date` optionnel.\n * Rétro-compat : si `subject`/`body` sont fournis (test), ils sont transmis tels quels.\n * @param {{application_id:(string|number), company?:string, template?:string, accroche?:string, vars?:object, subject?:string, body?:string, date?:string}} input\n */\nfunction buildLetterPayload({ application_id, company, template, accroche, vars, subject, body, date } = {}) {\n  const payload = {\n    application_id: asString(application_id),\n    company: asString(company),\n  };\n  if (template) {\n    payload.template = asString(template);\n    payload.accroche = asString(accroche);\n    payload.vars = vars && typeof vars === \"object\" ? vars : {};\n  } else {\n    payload.subject = asString(subject);\n    payload.body = asString(body);\n  }\n  if (date) payload.date = asString(date);\n  return payload;\n}\n\n/**\n * Entrée passée au workflow 04 (finalisation : Drive + brouillon Gmail).\n * Reprend les chemins PDF renvoyés par le service de rendu.\n * @param {object} input\n */\nfunction buildFinalisationInput({ company, cv_path, letter_path, to_email, subject, body } = {}) {\n  return {\n    company: asString(company),\n    cv_path: asString(cv_path),\n    letter_path: asString(letter_path),\n    to_email: asString(to_email),\n    subject: asString(subject),\n    body: asString(body),\n  };\n}\n\n// --- driver: Préparer rendu (corps de POST /cv et /letter, recopie stricte de l'agent) ---\nconst agent = $('Parser sortie agent').first().json;\nconst entree = $('Normaliser entrée').first().json;\nconst application_id = String($('Créer candidature (draft)').first().json.id);\nconst lettre = (agent.lettre && typeof agent.lettre === 'object') ? agent.lettre : {};\nconst template = entree.spontaneous ? 'candidature-spontanee' : String(lettre.template ?? '');\nconst accroche = String(lettre.accroche ?? '');\nconst company = String(entree.company ?? '');\nconst subject = String(agent.objet_email ?? '');\nconst cv_payload = buildCvPayload({ application_id, personnalisation_cv: agent.personnalisation_cv });\nconst letter_payload = buildLetterPayload({ application_id, company, template, accroche, vars: { poste: String(entree.title ?? '') } });\nreturn [{ json: { application_id, company, subject, body: accroche, cv_payload, letter_payload } }];\n"
      },
      "id": "prep-render",
      "name": "Préparer rendu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.RENDER_API_URL }}/cv",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.cv_payload) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "render-cv",
      "name": "Rendu CV (PDF)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.RENDER_API_URL }}/letter",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Préparer rendu').first().json.letter_payload) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "render-letter",
      "name": "Rendu lettre (PDF)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2140,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO generated_documents (application_id, cv_path, letter_path) VALUES ($1, NULLIF($2,''), NULLIF($3,'')) RETURNING id;",
        "options": {
          "queryReplacement": "={{ [ $('Préparer rendu').first().json.application_id, $('Rendu CV (PDF)').first().json.cv_path, $('Rendu lettre (PDF)').first().json.letter_path ] }}"
        }
      },
      "id": "insert-documents",
      "name": "Enregistrer documents",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2320,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "REMPLACER",
          "name": "Postgres job-hunter"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ⚠️ AUTO-GÉNÉRÉ par workflows/lib/build-nodes.mjs depuis render-payloads.mjs.\n// Ne pas éditer ici : modifie render-payloads.mjs puis relance `just build-nodes`.\n\n// Construit les corps de requête envoyés au micro-service de rendu (services\n// render / cv/server.mjs) à partir de la sortie de l'agent DeepSeek (§6) et de\n// l'entrée normalisée du workflow 02.\n//\n// Logique PURE (aucune dépendance n8n) : le nœud Code « Préparer rendu » du\n// workflow 02 reprend cette logique, et ce module la teste hors stack.\n//\n// Garde-fou : on ne fait que RECOPIER ce que l'agent a produit (highlight_*,\n// summary, lettre, objet). On n'invente rien et on ne reformule rien.\n\nconst asArray = (v) => (Array.isArray(v) ? v : []);\nconst asString = (v) => (v == null ? \"\" : String(v));\n\n/**\n * Corps de POST /cv : id de candidature + bloc de personnalisation structuré.\n * @param {{application_id:(string|number), personnalisation_cv?:object}} input\n */\nfunction buildCvPayload({ application_id, personnalisation_cv } = {}) {\n  const p = personnalisation_cv && typeof personnalisation_cv === \"object\" ? personnalisation_cv : {};\n  return {\n    application_id: asString(application_id),\n    personalization: {\n      summary: asString(p.summary),\n      highlight_skills: asArray(p.highlight_skills),\n      highlight_projects: asArray(p.highlight_projects),\n      highlight_experiences: asArray(p.highlight_experiences),\n      hidden_sections: asArray(p.hidden_sections),\n      hidden_skills: asArray(p.hidden_skills),\n    },\n  };\n}\n\n/**\n * Corps de POST /letter (assemblage DÉTERMINISTE) : id + destinataire + template\n * choisi + accroche (seul texte de l'agent) + variables de substitution. Le\n * service charge le corps FIGÉ du template, y colle l'accroche et résout les\n * placeholders ; l'expéditeur vient de cv/profile.json. `date` optionnel.\n * Rétro-compat : si `subject`/`body` sont fournis (test), ils sont transmis tels quels.\n * @param {{application_id:(string|number), company?:string, template?:string, accroche?:string, vars?:object, subject?:string, body?:string, date?:string}} input\n */\nfunction buildLetterPayload({ application_id, company, template, accroche, vars, subject, body, date } = {}) {\n  const payload = {\n    application_id: asString(application_id),\n    company: asString(company),\n  };\n  if (template) {\n    payload.template = asString(template);\n    payload.accroche = asString(accroche);\n    payload.vars = vars && typeof vars === \"object\" ? vars : {};\n  } else {\n    payload.subject = asString(subject);\n    payload.body = asString(body);\n  }\n  if (date) payload.date = asString(date);\n  return payload;\n}\n\n/**\n * Entrée passée au workflow 04 (finalisation : Drive + brouillon Gmail).\n * Reprend les chemins PDF renvoyés par le service de rendu.\n * @param {object} input\n */\nfunction buildFinalisationInput({ company, cv_path, letter_path, to_email, subject, body } = {}) {\n  return {\n    company: asString(company),\n    cv_path: asString(cv_path),\n    letter_path: asString(letter_path),\n    to_email: asString(to_email),\n    subject: asString(subject),\n    body: asString(body),\n  };\n}\n\n// --- driver: Préparer finalisation (entrée du 04 ; to_email vide = GARDE-FOU humain) ---\nconst prep = $('Préparer rendu').first().json;\nreturn [{ json: buildFinalisationInput({\n  company: prep.company,\n  cv_path: $('Rendu CV (PDF)').first().json.cv_path,\n  letter_path: $('Rendu lettre (PDF)').first().json.letter_path,\n  to_email: '',\n  subject: prep.subject,\n  body: prep.body,\n}) }];\n"
      },
      "id": "prep-final",
      "name": "Préparer finalisation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        200
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "wf04finalisatio",
          "cachedResultName": "04 - Finalisation candidature (Drive + brouillon Gmail)"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "launch-04",
      "name": "Lancer finalisation (04)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2840,
        200
      ]
    }
  ],
  "connections": {
    "Formulaire offre": {
      "main": [
        [
          {
            "node": "Normaliser entrée",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appel orchestration": {
      "main": [
        [
          {
            "node": "Normaliser entrée",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliser entrée": {
      "main": [
        [
          {
            "node": "Appel agent LangGraph",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser sortie agent": {
      "main": [
        [
          {
            "node": "Offre liée ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Offre liée ?": {
      "main": [
        [
          {
            "node": "Préparer enrichissement",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Préparer enrichissement": {
      "main": [
        [
          {
            "node": "DeepSeek entreprise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek entreprise": {
      "main": [
        [
          {
            "node": "Parser entreprise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser entreprise": {
      "main": [
        [
          {
            "node": "Upsert entreprise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert entreprise": {
      "main": [
        [
          {
            "node": "Créer candidature (draft)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Créer candidature (draft)": {
      "main": [
        [
          {
            "node": "Préparer rendu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer rendu": {
      "main": [
        [
          {
            "node": "Rendu CV (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rendu CV (PDF)": {
      "main": [
        [
          {
            "node": "Rendu lettre (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rendu lettre (PDF)": {
      "main": [
        [
          {
            "node": "Enregistrer documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enregistrer documents": {
      "main": [
        [
          {
            "node": "Offre -> applied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Offre -> applied": {
      "main": [
        [
          {
            "node": "Préparer finalisation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer finalisation": {
      "main": [
        [
          {
            "node": "Lancer finalisation (04)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appel agent LangGraph": {
      "main": [
        [
          {
            "node": "Parser sortie agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "wf08notiferreurs"
  },
  "active": false,
  "meta": {
    "note": "BROUILLON à vérifier à l'import. Deux entrées : Formulaire (test manuel, offer_id absent -> pas d'écriture DB ni rendu) et Appel orchestration (offer_id présent -> enrichissement entreprise + upsert + candidature draft + RENDU CV/lettre + generated_documents + offre->applied + lancement 04). ENRICHISSEMENT GROUNDED : DeepSeek résume l'entreprise UNIQUEMENT à partir du texte de l'offre (lib/company-enrichment.mjs) -> companies.sector/ai_summary. RENDU : Préparer rendu (cf. lib/render-payloads.mjs) -> POST {{RENDER_API_URL}}/cv et /letter (service render, PDF écrits dans ./output, volume partagé) -> chemins enregistrés dans generated_documents -> passés au 04. credentials Postgres + workflowId du 04 à associer à l'import. La personnalisation structurée du CV (personnalisation_cv §6) est produite par l'agent et recopiée telle quelle (aucune invention)."
  }
}