workflows/04-candidature-finalisation.json
{
  "id": "wf04finalisatio",
  "name": "04 - Finalisation candidature (Drive + brouillon Gmail)",
  "nodes": [
    {
      "parameters": {},
      "id": "b4000000-0000-4000-8000-000000000001",
      "name": "Déclencheur (appelé par l'orchestration)",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [-200, 300]
    },
    {
      "parameters": {
        "assignments": { "assignments": [
          { "id": "i1", "name": "company", "value": "={{ $json.company }}", "type": "string" },
          { "id": "i2", "name": "cv_path", "value": "={{ $json.cv_path }}", "type": "string" },
          { "id": "i3", "name": "letter_path", "value": "={{ $json.letter_path }}", "type": "string" },
          { "id": "i4", "name": "to_email", "value": "={{ $json.to_email }}", "type": "string" },
          { "id": "i5", "name": "subject", "value": "={{ $json.subject }}", "type": "string" },
          { "id": "i6", "name": "body", "value": "={{ $json.body }}", "type": "string" }
        ] },
        "options": {}
      },
      "id": "b4000000-0000-4000-8000-000000000002",
      "name": "Entrées candidature",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [20, 300]
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.cv_path }}",
        "options": { "dataPropertyName": "cv" }
      },
      "id": "b4000000-0000-4000-8000-000000000003",
      "name": "Lire CV (PDF)",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [240, 200]
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Entrées candidature').first().json.letter_path }}",
        "options": { "dataPropertyName": "letter" }
      },
      "id": "b4000000-0000-4000-8000-000000000004",
      "name": "Lire lettre (PDF)",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Entrées candidature').first().json.company }}",
        "options": { "folderColorRgb": "" }
      },
      "id": "b4000000-0000-4000-8000-000000000005",
      "name": "Drive: dossier entreprise",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [480, 300],
      "credentials": { "googleDriveOAuth2Api": { "id": "REMPLACER", "name": "Google Drive job-hunter" } }
    },
    {
      "parameters": {
        "name": "=cv.pdf",
        "driveId": { "__rl": true, "mode": "list", "value": "My Drive" },
        "folderId": { "__rl": true, "mode": "id", "value": "={{ $json.id }}" },
        "inputDataFieldName": "cv",
        "options": {}
      },
      "id": "b4000000-0000-4000-8000-000000000006",
      "name": "Drive: upload CV",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [720, 300],
      "credentials": { "googleDriveOAuth2Api": { "id": "REMPLACER", "name": "Google Drive job-hunter" } }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Entrées candidature').first().json.subject }}",
        "emailType": "text",
        "message": "={{ $('Entrées candidature').first().json.body }}",
        "options": {
          "sendTo": "={{ $('Entrées candidature').first().json.to_email }}",
          "attachmentsUi": { "attachmentsBinary": [ { "property": "cv" }, { "property": "letter" } ] }
        }
      },
      "id": "b4000000-0000-4000-8000-000000000007",
      "name": "Gmail: créer BROUILLON",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [960, 300],
      "credentials": { "gmailOAuth2": { "id": "REMPLACER", "name": "Gmail job-hunter" } }
    }
  ],
  "connections": {
    "Déclencheur (appelé par l'orchestration)": { "main": [[{ "node": "Entrées candidature", "type": "main", "index": 0 }]] },
    "Entrées candidature": { "main": [[
      { "node": "Lire CV (PDF)", "type": "main", "index": 0 },
      { "node": "Lire lettre (PDF)", "type": "main", "index": 0 }
    ]] },
    "Lire CV (PDF)": { "main": [[{ "node": "Drive: dossier entreprise", "type": "main", "index": 0 }]] },
    "Lire lettre (PDF)": { "main": [[{ "node": "Gmail: créer BROUILLON", "type": "main", "index": 0 }]] },
    "Drive: dossier entreprise": { "main": [[{ "node": "Drive: upload CV", "type": "main", "index": 0 }]] },
    "Drive: upload CV": { "main": [[{ "node": "Gmail: créer BROUILLON", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "meta": {
    "note": "SQUELETTE (Tâche 9) à vérifier à l'import : associer les credentials OAuth Google (Drive + Gmail) créées dans n8n, ajuster les versions de nœuds et l'upload de la lettre (un 2e noeud Drive upload sur le champ binaire 'letter'). GARDE-FOU : Gmail crée un BROUILLON, jamais d'envoi automatique. Le binaire CV/lettre doit être fusionné avant Gmail (ici simplifié) — en pratique, regrouper les deux binaires sur un même item avant le nœud Gmail."
  }
}
