workflows/04-candidature-finalisation.json
{
  "id": "wf04finalisatio",
  "name": "04 - Finalisation candidature (livraison Discord)",
  "nodes": [
    {
      "parameters": {},
      "id": "b4000000-0000-4000-8000-000000000001",
      "name": "Déclencheur (appelé par l'orchestration)",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "i1",
              "name": "company",
              "value": "={{ $json.company }}",
              "type": "string"
            },
            {
              "id": "i2",
              "name": "cv_path",
              "value": "={{ $json.cv_path }}",
              "type": "string"
            },
            {
              "id": "i3",
              "name": "letter_path",
              "value": "={{ $json.letter_path }}",
              "type": "string"
            },
            {
              "id": "i5",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "i6",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b4000000-0000-4000-8000-000000000002",
      "name": "Entrées candidature",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Entrées candidature').first().json.cv_path }}",
        "options": {
          "dataPropertyName": "cv"
        }
      },
      "id": "b4000000-0000-4000-8000-000000000003",
      "name": "Lire CV (PDF)",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Entrées candidature').first().json.letter_path }}",
        "options": {
          "dataPropertyName": "letter"
        }
      },
      "id": "b4000000-0000-4000-8000-000000000004",
      "name": "Lire lettre (PDF)",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Regroupe les DEUX binaires (cv + lettre) sur UN SEUL item pour les joindre\n// au même message Discord. Lectures chaînées en amont (Lire CV -> Lire lettre).\nconst e = $('Entrées candidature').first().json;\nconst cv = $('Lire CV (PDF)').first().binary?.cv;\nconst letter = $('Lire lettre (PDF)').first().binary?.letter;\nif (!cv || !letter) throw new Error('Binaire manquant (cv ou letter) — vérifier cv_path / letter_path.');\nreturn [{ json: { company: e.company, subject: e.subject, body: e.body }, binary: { cv, letter } }];"
      },
      "id": "b4000000-0000-4000-8000-000000000008",
      "name": "Fusionner pièces jointes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_ALERTS }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "payload_json",
              "value": "={{ JSON.stringify({ content: `🎯 **Candidature prête : ${$json.company || 'Entreprise'}**\\n📨 Objet : ${$json.subject || ''}\\n📎 CV + lettre ci-joints — à toi de postuler quand tu veux (relecture/envoi humain).` }) }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files[0]",
              "inputDataFieldName": "cv"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files[1]",
              "inputDataFieldName": "letter"
            }
          ]
        },
        "options": {}
      },
      "id": "b4000000-0000-4000-8000-000000000020",
      "name": "Discord: livraison (CV + lettre)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Déclencheur (appelé par l'orchestration)": {
      "main": [
        [
          {
            "node": "Entrées candidature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrées candidature": {
      "main": [
        [
          {
            "node": "Lire CV (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lire CV (PDF)": {
      "main": [
        [
          {
            "node": "Lire lettre (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lire lettre (PDF)": {
      "main": [
        [
          {
            "node": "Fusionner pièces jointes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusionner pièces jointes": {
      "main": [
        [
          {
            "node": "Discord: livraison (CV + lettre)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "wf08notiferreurs"
  },
  "active": false,
  "meta": {
    "note": "Livraison SANS Google : lit CV+lettre depuis ./output, regroupe les 2 binaires, et POST multipart vers le webhook Discord ALERTS (files[0]=cv, files[1]=lettre, payload_json=message). Les PDF arrivent en pièces jointes dans le salon, prêts à télécharger. GARDE-FOU : aucune candidature n'est envoyée — relecture/envoi humain. (Variante Google Gmail/Drive disponible dans l'historique git si OAuth voulu plus tard.)"
  }
}